[2009-06-02 22:47] rajbot opened #1 "need a better loading message"
Before init() is called, the main bookreader div displays an 'x'. This should probably say something like 'loading' or 'you need javascript'. The loading message could also provide a link to a format that doesn't require javascript, such as the pdf.

[2010-10-04 01:05] yankl opened #2 "i18n"
It would be great if the text that is output (e.g., tooltips for the buttons, zoom levels) could be changed without having to go into the BookReader.js file.

Also, there could be support for the reader to be in a right-to-left language. This would involve just a few changes in the css file and BookReader.js to adjust the order of the buttons and text at the top. Also, the graphic for the play but

[2010-12-09 10:38] atomotic opened #4 "<newui> BookReaderDemo bug"
Error: jToolbar.find(".share").colorbox is not a function
Source File: file:///tmp/bookreader/BookReader/BookReader.js
Line: 3632

[2010-12-10 02:09] #4 closed, assigned to nobody

[2010-12-10 19:24] #2 closed, assigned to nobody

[2010-12-10 19:31] #1 closed, assigned to nobody

[2011-02-03 13:34] shenzhuxi opened #5 "JavaScript should be compatible with other libraries than jQuery"
I'm working on http://drupal.org/project/fileviewer
And I think this should be considered in bookreader's codes.

http://drupal.org/update/modules/6/7#javascript_compatibility
Javascript should be made compatible with other libraries than jQuery by adding a small wrapper around your existing code:
(function ($) {
  // Original JavaScript code.
})(jQuery);

[2011-04-25 05:08] #5 closed, assigned to nobody

[2011-05-31 21:58] george08 opened #6 "Allow selection of a region that crosses 2 pages"
Just noting this feature request.

[2011-09-23 22:20] JeffKaplan opened #12 "iPad reader selection prompt is off-screen"
Device: iPad 1
Browser: Safari
Reader: iBook

after the epub file loads the prompt asking which reader you want to use is off screen to the right so that the page appears to be blank. dragging to the left brings the prompt over into view.

here are a couple i tried:
http://www.archive.org/details/prealgebra00lars
http://www.archive.org/details/calculuscomplete01edwa

[2011-09-28 16:41] george08 opened #13 "Links back into IA & OL in top left corner"
Brewster and George,

I am writing about a change in site navigation that happened a couple of months ago, where the user who comes to a book via Archive.org is sent to Open Library if they click on the book title link in the upper left corner. Previously, the link took the user back to the metadata page that they started on at the Archive. This has caused a lot of confusion I think. I am hearing

[2011-10-28 23:29] EdwardBetts opened #14 "Cover image fails for Magic-Mouse-2010-12"
http://www.archive.org/download/Magic-Mouse-2010-12/page/cover_thumb.jpg redirects to http://ia600309.us.archive.org/BookReader/BookReaderPreview.php?id=Magic-Mouse-2010-12&itemPath=%2F31%2Fitems%2FMagic-Mouse-2010-12&server=ia600309.us.archive.org&page=cover_thumb.jpg and returns this:

Error serving request:
  Image error: Problem processing image - command failed:
 unzip -p '/31/items/Magic-Mou

[2011-11-07 22:06] #14 closed, assigned to nobody

[2011-12-13 21:15] george08 opened #16 "Please put a margin at the bottom of the book's page in the EMBED view"
If you look at the bookreader in this view - http://proto.us.archive.org/details/furnitureuphol00john - (or anywhere where it's embedded) you can see that the bottom bar covers the bottom of the book's pages. Since there's now way to collapse the toolbar in the EMBED view, I was hoping you can put the same amount of margin as is on top on the bottom, between the bottom of the pages and the top of

[2011-12-16 03:21] mangtronix opened #17 "Search results appear on wrong page for this book"
http://www.archive.org/stream/yellowapril189401uoft#page/n287/mode/2up/search/morals

As reported here: http://openlibrary.org/admin/support/1579

[2012-07-27 10:08] shenzhuxi opened #24 "jQuery compatible problem with the search button"
Javascript should be made compatible with other libraries than jQuery by adding a small wrapper around your existing code:
(function ($) {
// Original JavaScript code.
})(jQuery);

Here is the patch
http://drupalcode.org/project/fileviewer.git/blob_plain/refs/heads/7.x-1.x:/712462.patch

[2012-12-30 01:17] bencomp opened #25 ""Mark for TOC" (feature request)"
Most books on the Internet Archive don't have a table of contents. On the OpenLibrary page for the specific book anyone can add one, but figuring out page numbers and remembering them together with titles can be a hassle (e.g. when page numbers are invisible or missing).

I imagine and hereby propose a button or link in the BookReader that marks a page as the start of a new chapter or section. Whe

[2013-01-28 14:38] marcolino opened #26 "How to embed full text search in bookreader?"
The openlibrary/bookreader demo does not include text search. Is it possible to enable it? (on openlibrary.org, for example at http://www.archive.org/stream/awakeningofsprin00wedeiala#page/n5/mode/2up, it's alive and kicking... :-)
Of course I know I will have to OCR all of my books and have the coordinates of the boxes of all the words for all the pages for all the books...

[2013-10-02 18:44] rajbot opened #29 "IA: bookreader title links to non-HTTPS version of archive.org"
An example is the title link for this book:

https://archive.org/stream/FOLZ596INV526FA_P28/VAL_FOLZ596INV526FA_P28_000001

[2013-10-02 18:54] rajbot opened #30 "IA: sync changes from IA repo to github"
Changes have been made to the bookreader code in the internal IA svn repo, by many different people, mostly for https support. These changes should be copied to the git repo.

[2013-10-29 19:56] rajbot opened #31 "Search box does not work on iPad"
From Gabe:

Users can't place cursor inside the search box on an ipad. Confirmed broken with ios7.

[2013-11-20 11:54] davidzweig2 opened #32 "Summary of current forks"
I would like to contribute to this project, I have some features I would like to add. I'm just wondering which fork to work on, as there seem to be significant amounts of code that have not been merged into the project. aMoniker has added Notes and Annotations support, jgsmith has added a pluggin system. What is the consensus on these modifications, and where is the project heading? Currently I'm

[2014-01-14 23:15] #30 closed, assigned to nobody

[2014-01-16 18:53] #29 closed, assigned to nobody

[2014-01-16 19:01] rajbot opened #33 "Error from search backend not shown"
When the search backend returns an error, the bookreader does not show the returned error message to the user, and instead shows "No matches were found."

When submitting an empty string to the search backend, it returns `{... error:  'You must enter a query.' ...}`, but we don't show that to the user.

[2014-10-23 13:53] chuma opened #34 "Nav bar hides horizontal scroll bar in 2up mode"
Situation: viewing a document in 2-up (facing page) mode, zoomed in such that all outside edges of the pages are outside the document viewable area.

Behaviour: if the Nav bar at the bottom is visible, it covers the horizontal scroll bar at the bottom.  This scroll bar is the only way to move the viewable area around to view the far left or right areas of the current pages in 2-up mode.

Potential

[2015-01-06 12:37] samirquliyev opened #36 "i can't search in bookreader"
i can't search in bookreader on my website.Who can help me?
url:
http://ceferiler.az/bookreader/4%20Risale/4%20risale.html#page/26/mode/2up

[2015-04-25 15:20] janstieler opened #39 "Jquery Version?"
HI,
which is the minimum jQuery version I need?

BR

[2015-07-06 13:44] scannermobs opened #40 "jQuery version incompatibility"
Any plans to get the plugin working with recent versions of the dependencies (primarily jQuery itself)? I've been unable to get it working on 1.11.x and am currently on 1.4.2, which is undesirable.

N.B. For others, incompatible jQuery version (even with migrate) results in a 'partially-loaded' plugin, which does not perform core actions such as display the book content.

[2015-07-30 10:53] sandipprajapati7720 commented on #26
i have already show that text box thought the result cant find
let me know what exactly step to implement that plz give me proper documentation.

[2015-09-29 09:45] eduh commented on #40
I do use jQuery version 1.4.3 which is not vulnerable to certain bugs. Not an ideal situation but it works. Looks like active development on the bookreader is at a very low level.

[2015-10-14 05:22] SNUL opened #42 "Display options in original aspect ratio"
Dear who may concern.

I am a librarian in Seoul National University in South Korea.

Actually our library started to use IA Book Reader on 1 September, 2015 for viewing Old Book Digital Collection.

Sample collection is http://snu-primo.hosted.exlibrisgroup.com/82SNU:ALL:82SNU_ROSETTA3954084.

But we encountered one problem to view.

The most of images are displayed portrait basically. But in suc

[2015-10-20 15:41] LeadSongDog commented on #36
I've also been unable to enter a search phrase in bookreader on Safari/iOS7/Ipad

[2015-10-23 13:39] eduh commented on #40
Perhaps this is interesting.  These guys did patched it :  https://bitbucket.org/nlireland/multipage_image_viewer/src/7ec26c4cc6025d7e9e3a99d2f829bcc2dcfde1ca/app/assets/javascript/?at=master  But they are also switching to diva.js reader whicxh is more up to date https://ddmal.github.io/diva.js/

[2015-10-28 14:26] nikolas commented on #40
I have a PR to get it to at least 1.5.2 here: #41. Can someone merge it? @rajbot ?

[2015-11-08 01:08] deckar01 opened #43 "Page numbering confusion"
The docs mention using 1 based page numbers in URLs `page/1` instead of 0 based `page/n0`, but it does not seem to work.
https://openlibrary.org/dev/docs/bookurls

The code tries to parse URLs that start with `n` then falls back to a custom page numbering.
[BookReader/BookReader.js#L4502](https://github.com/openlibrary/bookreader/blob/master/BookReader/BookReader.js#L4502)
[BookReader/BookReader.j

[2016-01-07 17:43] tcj opened #45 "Gracefully handle jp2 images generated without -Clevels"
Please pardon any mistakes I make in the reporting of this issue, but I clearly barely know what I am talking about.

We are getting errors in the syslog and nginx errors like the following:

[code]

and:

```2015/12/29 16:29:22 [error] 30935#0: *23910069 FastCGI sent in stderr: "PHP Warning:  BookReader Processing Error: unzip -p '/2/items/cu31924051987323/cu31924051987323_jp2.zip' 'cu31924051987

[2016-03-14 22:28] tfmorris commented on #45
That analysis sounds reasonable.  The example above is a Microsoft scanned image donated by Cornell. https://archive.org/details/cu31924051987323

It doesn't make sense to me to have special case code for this in a non-image processing app. It shouldn't care whether the scaling is done via a fast path supported by the codec or after the fact on the decompressed image.  I'd push the requirement bac

[2016-10-24 16:45] jessamynwest opened #169 "Allow users to bookmark page they are in within BookReader"
This is most-requested feature but its absence was not a blocker. Would like to see this working at some point. In the past this _sort of_ worked via cookies but would like it to be account based not browser based.

[2017-08-05 18:05] baimafeima opened #55 "Desktop version?"
@rchrd2 Do I understand it correctly that bookreader has either to be deployed on a server or used via your website and that there is no standalone desktop version?

[2017-10-21 07:13] mekarpeles opened #58 "On fb, user requested method to speed/slow audible reader"
Festival has a way to increase or decrease speed, we could make this a setting w/ a combo box and then adjust the mp3 speed the server sends us using the value in this combo, cc @rchrd2

[2018-01-22 23:08] mekarpeles commented on #25
👍  bump

[2018-02-22 01:47] rchrd2 commented on #55
There is no standalone desktop version. It is intended for the web only.

[2018-02-22 01:47] #55 closed

[2018-02-22 19:34] rchrd2 opened #62 "Remove some deprecated methods and references:"
showBookmarkCode
showEmbedCode

[2018-02-23 21:26] html5cat opened #63 "Experimental Option High Contrast only available in mobile view"
There doesn't seem to be a way to toggle `Experimental (may not work)` options in desktop view – it's only available via hamburger menu.

[2018-02-28 21:39] rchrd2 commented on #63
Yes this is true. Do you have an idea where this could fit into the desktop UI?

[2018-02-28 21:40] #62 closed

[2018-02-28 21:42] mekarpeles commented on #63
Next to the "speaker" icon maybe? Or next to the +/- magnifying glass?

[2018-02-28 21:48] mekarpeles opened #65 "Read Aloud & Magnify options buried on mobile"
On mobile devices, users are even more likely (because of limited real estate) to want to invoke the read aloud option and or magnification setting.

re: read aloud -- Suggesting that either (a) it appears on the main UI or (b) its behavior changes so when you click it on mobile, instead of nesting/opening a second menu which says "Read Aloud" that this should be a button which just starts/stops t

[2018-03-01 01:32] rchrd2 commented on #39
Hi BookReader has been updated to work with jQuery 1.10.1.

[2018-03-01 01:32] #39 closed

[2018-03-01 01:33] rchrd2 commented on #40
BookReader now works with 1.10.x.

[2018-03-01 01:33] #40 closed

[2018-03-01 01:33] rchrd2 commented on #24
Closing this issue since the link no longer works.

[2018-03-01 01:33] #24 closed

[2018-03-01 01:41] rchrd2 commented on #36
Closing this since the link does not work. Also we have since added much better mobile support in BookReader v2.

[2018-03-01 01:41] #36 closed

[2018-03-01 01:42] rchrd2 commented on #31
Hi Raj. Closing this, because search has been fixed v2.

[2018-03-01 01:42] #31 closed

[2018-03-01 01:47] rchrd2 commented on #63
I think there probably needs to be a place for more advanced settings. There have also been requests for the autoplay feature.

Maybe if there was a cog icon, which opened up a modal with more advanced controls. This could also house other things, like text-to-speech voice settings.

[2018-03-20 15:30] JBPressac opened #66 "Text display"
Hello,
Is there a way to display plain text rather than images with BookReader ? For instance to display transcriptions like does [the BnF reader](http://gallica.bnf.fr/ark:/12148/bpt6k57347784/f30.item.texteImage) ?
Thanks,

[2018-03-21 16:25] LeadSongDog commented on #25
Yes, this is a very good idea!

[2018-03-21 16:33] LeadSongDog commented on #63
Some settings that would make sense:
1. monochrome
2. invert (a.k.a. night or powersave mode)
3. fill-window (autozoom)
4. default 1-up/2-up/grid
5. default scroll/page

[2018-03-21 16:46] LeadSongDog commented on #66
Well, I'm pretty sure it used to be possible, but I don't see it now. Anyhow, you can add "_djvu.txt" to the filepath, e.g.
https://archive.org/stream/withfireswordhis00sienuoft
becomes
https://archive.org/stream/withfireswordhis00sienuoft_djvu.txt
That said, most IA OCR is still pretty lame.

[2018-03-21 18:25] mekarpeles commented on #63
I think the text-to-speech setting should always show and never be hidden within a menu.

[2018-03-21 18:38] mekarpeles commented on #66
The following experiment (which works only for unrestricted + public domain books) allows users to read  text-version of the book (and optionally listen to the book via read-aloud)

http://api.archivelab.org:8000/?ocaid=atrampabroa02twaiiala&page=18/

[2018-03-26 18:19] mekarpeles opened #67 "Add slider bar in "More" menu to increase brightness/contrast"
From an email received by a user:
"It would be great If you could provide a Button or Slider that the users (we) would be able to adjust the brightness of the Book during reading."

We currently do have some settings to improve contrast, but I don't think they offer very granular control.

[2018-04-27 16:05] yanyufish opened #71 "Upgrading jquery to 3.x"
Hi,

The viewer is great but one of its plugins has a security vulnerability. Could you make the search plugin to work with JQuery 3.x? All prior versions of JQuery are no longer supported and all of them reportedly have XSS vulnerabilities. Conversion guidance can be found at http://blog.jquery.com/.

Thanks.

[2018-05-04 21:45] yanyufish commented on #71
I figured it out and here's the detail. The problem of switching to jquery 3.x from 1.x is that the andself() method used in jquery.bt.min.js has been removed. So changing it to addback() would make the book reader function properly again.

[2018-05-04 21:45] #71 closed

[2018-05-26 12:04] closeyetfar opened #72 "Accessibility errors"
Do you plan on making the Bookreader pass the WAVE accessibility tool? There is missing alt text, empty buttons and 1 contrast error.

<img width="1176" alt="screen shot 2018-05-26 at 8 01 20 am" src="https://user-images.githubusercontent.com/1972016/40575871-102dc786-60bb-11e8-9780-e8027a7ae91f.png">

[2018-06-01 21:10] mekarpeles opened #73 "Allow swiping of pages in Bookreader to advance"
Kathleen's first interaction was to swipe a page to progress on Bookreader and it did not advance the page.

[2018-06-18 17:35] LeadSongDog commented on #25
Rather than just the "text field" suggested by @bencomp it might be helpful to also provide a shortlist of stock values such as: frontcover, bookplate, frontispiece, t.p., t.p. verso, contents, figures, ch 1, <ch.next>, appendix, index, adverts, pocket, backcover

[2018-06-18 19:25] ghost opened #74 "Automatic sizing?"
I'm trying to do a basic Bookreader implementation for sets of images that may not be the same size across a given grouping. Is there currently an easy way to set the getPageWidth and getPageHeight functions so that they automatically conform to the size of an image?

[2018-06-24 07:28] mekarpeles commented on #74
Have you taken a look at the IIIF (iiiif.io) API? This API + the Mirador viewer are built specifically for this use case:

e.g. iiif.archivelab.org/iiif/TheGeometry

cc: @aeschylus

[2018-06-25 15:37] mskrc2 commented on #74
I'm familiar with IIIF. Unfortunately I don't think it's going to work in my case. I'm trying to use the BookReader to display images from a hosted CONTENTdm database using their API. While current versions of CONTENTdm have IIIF functionality integrated, our collections are being hosted on an older version. If it gets updated then I think IIIF will definitely be the way to go.

In the meantime th

[2018-06-26 00:11] rchrd2 commented on #74
I believe that bookreader needs the sizes in order to position all the images.

However, you might be able to work around this, by setting a default size for each image, and then as images are downloaded, dynamically update the image sizes array and re-render. It might be a jumpy.

I have not tried this, but I'd be curious to see if this works.

[2018-11-23 16:27] MicheleMallia opened #88 "automatically go to page via javascript"
I'm building a page containing a menu on the left and the book reader on the right.

The menu, which contains a list of chapters, must be the index of the works to be displayed.

The reader on the left simply has to view the selected work from the menu.

Is it possible to javascript jump directly to the page selected by the user from the menu on the left?

[2019-01-07 14:36] dylan-k commented on #73
I would also vote for a swipe interaction to turn pages. When we install a bookreader in the galleries of the museum, most users try to use the interface in this way.

[2019-01-08 14:20] dylan-k commented on #73
Tapping works but I'm not sure about swiping. I'll test it out with the latest version to be sure. It could be that we were using a much older version.

[2019-01-08 18:55] rchrd2 commented on #73
That's so cool that BookReader is being used in galleries in museums. I agree that this gesture makes sense in 2up mode. However, not for 1up or grid mode.

I just tried on an iphone and swiping to turn pages doesn't work at the moment.

[2019-01-08 18:59] dylan-k commented on #73
We use it to display digitized versions of medieval manuscripts, Korans, and other beautiful books in the collection. Visitors love to be able to look through the entire book, while the real thing has to be protected in a case with only one opening visible.

I tested it on an ipad this morning with the latest version and swiping didn’t work there either.

On 2019-01-08, 1:55 PM, "Richard Caceres"

[2019-01-08 19:47] dylan-k commented on #73
@rchrd2, The way I embed it, the HTML looks very much like [the demo-fullscreen example](https://github.com/internetarchive/bookreader/blob/master/BookReaderDemo/demo-fullscreen.html). The javascript is slightly modified from [the demo BookReaderJSAdvanced.js](https://github.com/internetarchive/bookreader/blob/master/BookReaderDemo/BookReaderJSAdvanced.js)

You can see the actual implementation ov

[2019-01-25 01:49] rchrd2 opened #93 "Read Aloud highlighting glitches"
Sometimes this happens.

<img width="1560" alt="screen shot 2019-01-24 at 3 46 15 pm" src="https://user-images.githubusercontent.com/182479/51719912-343ccf00-2000-11e9-8904-ba77ce5b94dd.png">

Here's a test book:
https://archive.org/details/10_PRINT_121114

TODO:
- Identify why this happens. Is the data bad? Is the function that draws it bad?
- If it's the API, let us know and we will fix. Otherwi

[2019-02-05 23:11] mekarpeles opened #94 "Improve AudioBook support"
Features we **definitely** want:

- [X] A. Support for non-English (allowing our 600k non-English books to be read)
- [X] B. Reduce bandwidth (generating mp3's is not accessible to all and slow to load)
- [X] C. Pause button
- [X] D. Playback speed controls
- [X] E. Backwards compatibility with Festival (where possible)

## Implementation
- Use Web Speech API (which provides options for many of th

[2019-02-15 19:48] rchrd2 opened #95 "Activating mobile fullscreen changes current page"
Bug In mobile

## How to reproduce:
- Go to https://archive.org/details/masteringpowerpo0000murr_s8u7/page/50
- Hit full screen
- The page changes

It happens with non-preview books as well
https://archive.org/details/10_PRINT_121114/page/n130

## Expected behavior:
- It stays on the same page when you enter fullscreen from mobile.

## Hints:
- It seems like maybe there's a conflict with detection

[2019-02-19 22:01] #95 closed

[2019-04-24 19:06] cdrini opened #98 "Cannot zoom in on mobile"
The hamburger menu icon isn't visible, so it's impossible to zoom in on mobile

<img src="https://user-images.githubusercontent.com/6251786/56686455-04a26f00-66a2-11e9-9b79-4d0fcf7478d1.png" width=200>

[2019-04-24 19:34] mekarpeles opened #100 "Fix/re-enable Broken SVG Hamburger Menu (re: #99)"
Our SVG hamburger menu is displaying as invisible (is broken) and is commented out in #99.
https://github.com/internetarchive/bookreader/pull/99/files#diff-97d22b6210b4955765d770f57c163c30

_Originally posted by @iisa in https://github.com/internetarchive/bookreader/pull/99_

[2019-04-24 19:48] cdrini commented on #100
I think the issue is with url encoding; the SVG might have to to be url encoded before it's put in the data line.

[2019-04-24 19:50] cdrini commented on #100
This seems to work, but I have less confidence in this than using the patch:
` url('data:image/svg+xml;utf8,%3Csvg%20width%3D%2215px%22%20height%3D%2212px%22%20viewBox%3D%220%200%2015%2012%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cg%20id%3D%22hamburger-svg%22%20stroke%3D%22%23000%22%20stroke-wid

[2019-04-24 20:47] #98 closed

[2019-05-01 15:24] mekarpeles opened #101 "Pages Appear Blank After Borrowing Book"
A patron explains

[2019-05-16 00:50] bfalling commented on #98
Noting that this issue appears on Chrome but not Safari.

[2019-05-31 23:03] iisa opened #103 "Mobile View: coming back from full screen should keep its original view state"
Problem:
Start book reader in 1 page view in mobile size.
Click Full Screen.
Close Full Screen.
Book reader shows view in 2 page view

[2019-05-31 23:06] iisa opened #104 "New View: In 1 page mode, let the page fill the screen"
Currently, we align the page either by a page's width or height.
This is optimized for 2 page view.

In 1 page view, there is no way for the page to dynamically fill its container according to its aspect ratio.  We should have that ability

[2019-06-10 17:37] mekarpeles commented on #94
Discussion Requires:
- if in read-mode, do we still show images v. text?
- How/can a reader choose where to start reading on the page — always the top?
- What does he design/UI look like for start / pause / speed / voice (options we don’t really have today)?
- Can we dynamically choose the right (language) voice based on the book `language` field? This would make an *amazing* demo (imho)

[2019-06-11 21:50] mc2 opened #107 "Set up GitHub bookreader CI"
Travis CI

[2019-06-11 21:52] mc2 opened #108 "Create and configure GitHub/bookreader issue templates"

[2019-06-11 21:52] jbuckner opened #109 "Add CodeCov Support"
Integrate codecov.io to keep track of our test coverage

[2019-06-11 21:53] mc2 opened #110 "Create and configure GitHub/bookreader pull request templates"

[2019-06-11 21:58] jbuckner opened #111 "Add Linter Integration into CI"

[2019-06-12 22:46] jbuckner commented on #33
This looks like it has been fixed [here](https://github.com/internetarchive/bookreader/blob/master/BookReader/plugins/plugin.search.js#L249-L256). In development, we show the actual message and in production we show a generic error message.

We also prevent submitting an empty string so I had to modify the JS to submit an empty string for this screenshot:

<img width="925" alt="Screen Shot 2019-06

[2019-06-12 22:46] #33 closed

[2019-06-14 16:30] #110 closed

[2019-06-20 13:57] Timmy-B opened #115 "Add ability to show single page while in 2 page mode"
If a page exists that is larger than the other pages show it as a single page spread across left and right.

[code]

How this is currently done
![example]

[example]: https://i.imgur.com/O0CqWew.png

[2019-06-26 06:17] imskr commented on #111
Can I work on this issue ?

[2019-06-26 15:01] mekarpeles commented on #111
Please do!

[2019-06-28 05:40] imskr commented on #107
Added! Check PR #116

[2019-06-28 15:56] jbuckner commented on #111
Fixed in #116

[2019-06-28 15:56] #111 closed

[2019-06-28 15:59] imskr commented on #109
Can I work on this issue?

[2019-06-28 16:04] jbuckner commented on #109
@imskr Yes, that would be great!

[2019-06-28 16:08] imskr commented on #107
@jbuckner This issue can be closed now!

[2019-06-28 16:09] #107 closed

[2019-07-01 23:45] mekarpeles opened #118 "Design Read Aloud UI Options"
**Description**

1) Right now there is not a way to pause and play audio bookreader -- it restarts from the beginning of the page after you stop
2) There's no UI to change the speed of playback
3) There's no way to seek on the page (e.g. forward or backward a paragraph or page)
4) There's no way to select a voice

**Expectation**

A richer experience which treats audio reading as a first class exp

[2019-07-12 14:27] imskr commented on #104
I would like to work on this issue

[2019-07-12 14:31] mekarpeles commented on #104
Give it try! You may also want to try this feature with a book that supports read aloud / text to speech which is supposed to highlight text on the screen as it reads, to see if that feature still works after your changes.

[2019-07-12 18:13] jbuckner commented on #109
Fixed by #117

[2019-07-12 18:13] #109 closed

[2019-07-12 18:41] jbuckner opened #120 "Convert QUnit Tests to Jest"
**Context**

**Success Metrics**

**NOTE:** There are some tests in `qunit` that may not to be able to be run in `jest` so we may not be able to convert all of them, but let's convert what we can.

**Stakeholders**

[2019-07-12 21:13] #100 closed

[2019-07-17 19:07] teresaejunior opened #122 "1up default for mobile and 2up for desktop"
Perhaps when opening from a /stream/ URL, the reader should detect either device type, or screen size, and set 1up/2up accordingly?

2up is not very user-friendly, at least for my device:

![2up](https://i.imgur.com/qPSuxpe.jpg)

![2up](https://i.imgur.com/GAUOLGm.jpg)

1up specified:

![1up](https://i.imgur.com/aAzBgkC.jpg)

[2019-07-19 17:14] imskr commented on #104
@mekarpeles Regarding this issue, do i have to make changes in BookReaderDemo directory ?

[2019-07-29 19:43] mitra42 opened #123 "Function call for fetching data"
**Context**

The bookreader makes various calls to get data, and for both Dweb and the Offline server those calls have to be processed differently than an HTTP call.
* Dweb: Use its own algorithms to use Gun / IPFS etc to fetch the data
* Offline: Go to the proxy to check caching.

**Proposal & Constraints**

The tentative proposal is that the code could check for a function parameter before doing

[2019-07-30 05:53] subrag opened #124 "Support for PDF file in bookreader"
**Context**

**Stakeholders**

[2019-08-01 03:59] rchrd2 commented on #124
Hello. If you upload a PDF to archive.org, it will extra the images and make it viewable on Archive.org's bookreader. It cannot read a PDF directly.

[2019-08-01 23:06] jbuckner opened #126 "Add support for overriding `img` tag construction"
**Context**

**Proposal & Constraints**

**Success Metrics**

**Stakeholders**

[2019-08-01 23:08] jbuckner opened #127 "Add support for overriding ajax calls with custom transport methods"
**Context**

**Proposal & Constraints**

**Success Metrics**

**Stakeholders**

[2019-08-01 23:25] mitra42 commented on #127
Is this the same as the issue with the DwebImage tag, or is that getting its own ticket ?

[2019-08-01 23:27] jbuckner commented on #127
@mitra42 The image tag override is covered in #126

[2019-08-02 17:30] imskr commented on #127
Do you mean adding something like this:

[code]

[2019-08-02 18:27] mitra42 commented on #127
Not as simple ....
Its more of a section like ...
[code]
So calling out to a provided function . (I'd hope we weren't still using jquery ajax calls inside bookreader, but a similar process could be used with $.ajax)

[2019-08-09 20:11] mitra42 commented on #126
A:
Thinking as per conversation today ...
getImage(element, attributes) -> Image element
If element not set then create image element
set attributes,
Handle stuffing element - either src tag or via blob/rendermedia interface

- [ ] Default should do code as done already, calling internal or provided getPageURI / _getPageURI

- [ ] Case to check carefully is the place where it does lazy load

B: Al

[2019-08-09 21:29] rchrd2 commented on #126
FWIW someone else had a similar idea and pull-request. Worth checking out: https://github.com/internetarchive/bookreader/pull/59

[2019-08-13 20:34] mekarpeles commented on #94
A basic API (which wraps/extends the Web Speech Synthesis native API) may look like.
- `BookReader.start`
- `BookReader.stop`
- `BookReader.pause`
- `BookReader.startAt(sentenceNum)`
- `BookReader.setVoice(id)`
- `BookReader.setVolume(vol)`
- `BooKReader.highlight(sentenceNum)`
- `BookReader.setPitch(pitch)`
- `BookReader.setSpeed(speed)`

[2019-08-19 17:22] cdrini opened #129 "Refactor plugin.tts.js to include class SpeechSynthesisEngine"
Because we will be introducing another way for speech synthesis to occur (i.e. using the browser APIs), we will lay the ground-work for that change by abstracting the current implementation into a `SpeechSynthesisEngine` interface/abstract class. In a future issue, we will be adding another concrete class that implements this interface to synthesize using the native Browser apis.

**Note** that JS

[2019-08-19 17:29] cdrini opened #130 "Create/use BrowserSpeechEngine class in plugin.tts.js"
Create a new subclass of `SpeechSynthesisEngine` that uses the native browser apis.

### Summary of Requirements
- [ ] New class `BrowserSpeechEngine` that implements `SpeechSynthesisEngine`
- [ ] Browsers with speech synthesis support should use `BrowserSpeechEngine`
- [ ] Browsers without speech synthesis support should use `FestivalSpeechEngine`

### Relationships
- Part of #94
- Depends on #12

[2019-08-19 17:30] cdrini commented on #130
According to https://caniuse.com/#feat=speech-synthesis :

We need to test if this is the case.

[2019-08-19 17:52] cdrini opened #131 "Create function to convert book metadata language to BCP47 language code"
Convert the language stored on a book item (ex: https://archive.org/metadata/shipoffools00portrich ) into a language understood by the browser's SpeechSynthesis APIs (see: https://developer.mozilla.org/en-US/docs/Web/API/SpeechSynthesisVoice ).

- The browser's API expects a BCP 47 language code.
- The metadata file's language field is a ???? language code. (examples: `eng`, `fre`)

### Summary of

[2019-08-19 18:08] cdrini commented on #131
Presumably, looks like the metadata is using ISO 639-2/B (see `fre` in https://en.wikipedia.org/wiki/List_of_ISO_639-1_codes ), and the web api wants things like `en-US` (see https://mdn.github.io/web-speech-api/speak-easy-synthesis/ ). Though we can probably ignore the locale suffix for now.

[2019-08-19 18:15] cdrini opened #132 "BrowserSpeechEngine should choose voice based on book language"
Edit `BrowserSpeechEngine` so that it chooses the synthesizer's voice based on the language of the book.

### Summary of Requirements
- [ ] Should choose most appropriate voice from those available
- [ ] Should default to the first available voice if preferred voice not available

### Relationships
- Part of #94
- Depends on #131 , #130

[2019-09-02 17:00] shaneriley opened #136 "Skips vendor-native fullscreen setup if on mobile device"
**Description**

Nearly all browsers on mobile devices prevent fullscreen mode. To retain existing fullscreen-like functionality, the setup should be skipped if on a mobile device.

**Expectation**

When on a mobile device, tapping the fullscreen icon should use the existing fullscreen mode rather than the vendor native fullscreen.

**Context**

Any mobile device.

**Proposal & Constraints**

Rest

[2019-09-02 19:28] #136 closed

[2019-09-03 16:22] cdrini opened #138 "Refactor plugin.tts.js to not expose SpeechEngine methods on BookReader"
Because we will be adding a lot of options to AudioReader, we don't want to pollute the `BookReader` prototype namespace with a bunch of facade methods for the `SpeechSynthesisEngine`. So let's instead define `BookReader.tts` to reference a speech engine, and call methods on that (e.g. Before: `BookReader.ttsStart()`, we'll have `BookReader.tts.start()`).

### Summary of Requirements
- [ ] `BookRe

[2019-09-19 15:08] cdrini opened #142 "Don't include CSS build files in the repo"
**Description**
`BookReader/BookReader.css` is the generated CSS from the `src/css/*.scss` files. We should avoid including it in the repo once we have a build step to avoid it falling out of sync.

**Stakeholders**

@jbuckner

[2019-09-24 15:41] cdrini opened #143 "Buffer soundmanager audio files in TTS plugin"
**Context**
Currently, after each chunk is read, TTS is stopped while the next audio chunk is loaded in. We should buffer these chunks so there is no pause.

**Proposal & Constraints**
- We can't call `.load()` on 2 soundmanager instances simultaneously because of browser restrictions, but maybe we can `ajax` request the audio file, convert it to a `base64`, and then pass it into SM's `createSound

[2019-09-24 15:50] cdrini opened #144 "Hamburger icon only clickable on lines"
**Description**
You can only activate the hamburger icon by clicking on the lines; if you click the whitespace between or near the lines, nothing happens.

**Evidence / Screenshot (if possible)**
![bookreader hamburger icon](https://user-images.githubusercontent.com/6251786/65527668-070f2c00-dec1-11e9-9b92-13c4eefc2f6a.gif)

**Expectation**
Clicking anywhere on the containing box should trigger th

[2019-09-24 17:58] #129 closed

[2019-09-25 00:15] cdrini opened #147 "Add pause and resume methods to AbstractTTSEngine"
Create a new subclass of `SpeechSynthesisEngine` that uses the native browser apis.

### Summary of Requirements
- [ ] New `pause` method on `AbstractTTSEngine` and subclasses
- [ ] New `resume` method on `AbstractTTSEngine` and subclasses

### Relationships
- Part of #94

[2019-09-26 16:39] amr-dallin commented on #74
It would also be interesting to me to look at the implementation of such an idea. Unfortunately, it has not yet been done. Maybe from last year, someone managed to do?

[2019-09-26 16:56] cdrini opened #149 "Add analytics to plugin.tts.js"
We're making lots of changes to how this works, so we want some form of analytics to measure before/after differences. Add analytics for:

## Summary of Requirements
- [ ] Analytics for ReadAloud start
- [ ] Analytics for ReadAloud stop
- [ ] Analytics for ReadAloud duration (how long was person listening to ReadAloud?)
- [ ] Analytics for Book language (somehow; want to see if there's an increase

[2019-09-30 21:50] #131 closed

[2019-10-01 18:27] IsAmrish commented on #144
@jbuckner  -- I like to try.

[2019-10-01 19:25] jbuckner commented on #144
@IsAmrish Thank you! Go for it!

[2019-10-03 15:10] cdrini opened #152 "TTS not working on iOS"
**Description**
Get's stuck on "Loading audio" screen when TTS button is clicked. Error logged in the console:

[code]

**Expectation**
Should start TTS

**Context**

iPhone XR / iOS 12 (BrowserStack), testing with https://archive.org/details/symboliclogic00carr/page/n37

**Proposal & Constraints**

It might be the case that the intent capturing hack that plays an empty audio file at the start of

[2019-10-04 19:01] cdrini opened #154 "Add eslint rule comma-dangle: "only-multiline""
See https://eslint.org/docs/rules/comma-dangle . Should _only_ apply to the JS in `src/`.

[2019-10-05 12:53] Ryuno-Ki commented on #154
Hey @cdrini,
is this open for grabs?

I already forked the repo and got a local version running.
Am I right in assuming, that the option should be `"comma-dangle": ["error", "never"]`?

[2019-10-05 16:34] cdrini commented on #154
Hey @Ryuno-Ki ; it looks like @nirmalks has already opened a PR: #155 . But stay tuned! We're going to be opening a number of similar code quality issues around next week. Thanks for your interest!

[2019-10-07 18:40] #152 closed

[2019-10-08 19:56] cdrini opened #156 "Plugins not transpiled correctly on archive.org"
**Description**
When loaded into petabox, the compiled files still include es6 keywords (like class).

**Expectation**
They should be identical to the files generated when running webpack locally.

[2019-10-08 20:25] #149 closed

[2019-10-09 19:25] #156 closed

[2019-10-10 03:51] honda0306 commented on #144
I'd be happy to take a swing at this if needed as well :)

[2019-10-11 03:48] cdrini opened #158 "Create AbstractTTSEngine.setPlaybackRate"
A function to set playback rate.

### Summary of Requirements
- [ ] `WebTTSEngine.setPlaybackRate` method
- [ ] `FestivalTTSEngine.setPlaybackRate` method (optional; if not too complicated)
- [ ] Changing playback rate should change the playback rate inplace (i.e. not restart the audio)

### Relationships
- Part of #94 , #58

[2019-10-11 03:51] cdrini commented on #118
Marking this as done; the roadmap document is the design, and we have mockups from Jim.

[2019-10-11 03:51] #118 closed

[2019-10-12 01:18] raphaelcleto commented on #144
Hey! I've opened a pull request solving this issue. Could you check it please? #159

[2019-10-12 01:45] #130 closed

[2019-10-12 02:19] honda0306 commented on #144
Normally I would be happy to, but I'm not a maintainer 😅 From what I can see it looks good!

[2019-10-15 03:31] mekarpeles opened #162 "Test for undefined Bookreader components (e.g. $BRnav)"
**Description**

re: #161

In certain cases where no nav bar is present for a book (e.g. a book w/ admin privileges w/ no preview), we can’t expect a nav bar to appear, causing `br.refs.$BRnav` to be `undefined`.

**Evidence / Screenshot (if possible)**

The bookreader won't fully load due to js error halting execution. In today's regression case, the "admin" bar failed to load (which allows users

[2019-10-17 12:32] ahfou opened #164 "slider incosistent resizes"
**Description**

 Lately, while reading books I noticed that the slider at the bottom resizes kind of randomly. I suspect that this is not expected behavior.

**Evidence / Screenshot (if possible)**

![view1](https://user-images.githubusercontent.com/50703690/67008573-752ac580-f0f2-11e9-9e81-619248aed0bc.png)

![view2](https://user-images.githubusercontent.com/50703690/67008588-7cea6a00-f0f2-11e9-

[2019-10-17 13:42] #164 closed

[2019-10-17 20:41] ahfou opened #165 "buttons with class desktop-only not showing on desktop"
**Description**

Buttons that should be present on desktop are not shown. I suspect that a css rule somewhere got wrong.

**Evidence / Screenshot (if possible)**

![css_rule](https://user-images.githubusercontent.com/50703690/67045474-0a4fad80-f137-11e9-9d57-9014221a2614.png)

**Expectation**

![new_css_rule](https://user-images.githubusercontent.com/50703690/67045624-5995de00-f137-11e9-9cac-1fae9

[2019-10-18 10:53] #165 closed

[2019-10-21 21:20] iamshubh commented on #122
I will work on this

[2019-10-22 03:53] #132 closed

[2019-10-22 03:53] #147 closed

[2019-10-22 03:53] #158 closed

[2019-10-22 08:01] iamshubh commented on #122
@teresaejunior could you assign it to me!

[2019-10-22 16:46] teresaejunior commented on #122
@iamshubh I can't, only someone from the team can do that, see https://stackoverflow.com/q/26752902

There is no one else working on this, though, I believe.

[2019-10-24 18:19] cdrini commented on #169
Transferred to bookreader repo; more appropriate ehre

[2019-10-25 18:51] cdrini opened #170 "Last page of right-to-left books appears blank"
**Description**
When navigating to the last page of a right-to-left book, the page appears blank. Until you click backwards; then the leaf displays.

**Evidence / Screenshot (if possible)**
![last page rl issue](https://user-images.githubusercontent.com/6251786/67596489-a3755a00-f71d-11e9-8acf-1c4df7564c95.gif)

- https://archive.org/details/shochruishasei02
- https://archive.org/details/ceremonia

[2019-10-29 12:49] imskr commented on #170
Can I work on this issue?

[2019-10-29 17:36] cdrini commented on #93
This was partially fixed by 2554392fb7f05a700c174f5934a38e2709ab277b; now these are the remaining issues:

- the highlight can still explode if it's the last line on the page and the first line of a chunk
- the highlight can be stunted if the next line is short

These fixes should probably happen on the petabox side; that's likely where the root cause of the bug is.

[2019-10-29 19:40] shaneriley opened #173 "Page flip direction off after toggling different view modes"
**Description**

When switching to 1up, toggling the menu, switching to thumbnails, clicking a page, switching back to thumbnails, toggling menu, then switching to 2up, the next forward page flip is not animated correctly.

**Evidence / Screenshot (if possible)**

https://drive.google.com/open?id=10GkJEL04jM1szcl_1lfGoneOC_K0GR7l

**Expectation**

Page should flip as in normal 2up mode

**Context*

[2019-11-01 04:41] rchrd2 opened #177 "Navbar CSS is broken on Archive.org"
**Description**

The navbar appears correct in this bookreader repo, but on archive.org there is a visual bug.

Screenshot of broken navbar:

<img width="906" alt="Screen Shot 2019-10-31 at 9 37 42 PM" src="https://user-images.githubusercontent.com/182479/68002609-e86e2480-fc26-11e9-8f23-ff97713a2aec.png">

**Expectation**

Screenshot of correct navbar:

<img width="812" alt="Screen Shot 2019-10-3

[2019-11-01 09:17] shaneriley commented on #177
I've been staring at this issue for over a month. It's due to an update to jQuery UI where we just grabbed their default styles and didn't check for regressions. Should just involve a few properties being reset. If you get to it before we do, let us know in a comment what selectors and properties to override and we'll integrate them into Petabox.

[2019-11-01 11:59] waleedj99 commented on #65
Hi, i have made a pull request resolving this issue
#178

[2019-11-04 15:45] dtinth opened #179 "Read Aloud breaks up hyphenated words"
First, thanks for such an awesome online library. I use Text-to-Speech extensively when reading books from the archive, it helps me concentrate better when reading a book and reduces my eye strain a lot.

**Description**
On digitized books, the hyphenated text has been broken into two words when speaking. For example, the word **negative** has been broken into 2 lines:

An excerpt from the book:

[2019-11-05 05:13] rchrd2 commented on #177
Was jQuery UI updated on archive.org? What version? I wonder if the same version should be upgraded in the BookReader repo, to keep the two in sync.

[2019-11-05 10:18] shaneriley commented on #177
We're now on 1.12.1

[2019-11-28 15:52] cdrini opened #183 "ReadAloud option to jump back"
Ability to jump back

### Summary of Requirements
- [ ] `AbstractTTSEngine.jumpBack` method
- [ ] Jump back icon displayed in read aloud toolbar
- [ ] Replace `AsyncStream` with not streams, since streams don't easily support backward navigation
- [ ] Should work for both TTS Engines

### Relationships
- Part of #94

[2019-12-02 18:17] cdrini opened #184 "Make new ReadAloud work on samsung internet browser"
Samsung internet browser is hard-coded to use the old voices of ReadAloud (same as IE11/Opera Mini). This is because it would inexplicably not working. Possibly might be because `.speak()` is called not in a user-event call stack? Investigation necessary.

[2019-12-06 11:58] jamesw-cogapp opened #187 "Download options for all formats when some formats unavailable"
**Description**

When you click download button several options appear such as PDF ePUB kindle etc. These are still available when the formats aren't there resulting in links which indicate a failure to generate the content.

**Evidence / Screenshot (if possible)**

The kindle link on this book:
http://www.archive.org/stream/birdbookillustra00reedrich#page/n4/mode/2up

**Expectation**

Only displa

[2019-12-17 00:48] #183 closed

[2019-12-17 01:33] #179 closed

[2019-12-17 11:04] dtinth commented on #179
Thanks! ❤️

[2019-12-17 17:31] cdrini commented on #179
Thank you for opening the issue :) This will be deployed today or tomorrow to production :+1:

[2019-12-17 22:59] #94 closed

[2020-01-16 08:31] MichaelNZ85 opened #195 "How to set initial display mode to 1-up?"
How do I set the initial display mode to be 1-up (one page at a time)?

[2020-01-17 20:42] cdrini commented on #195
It looks like this option might do the trick:

https://github.com/internetarchive/bookreader/blob/ad18d5c91e7f90e8c92933dfca0e0e26589e4fe5/BookReader/BookReader.js#L114-L115

[2020-01-20 17:18] #195 closed

[2020-01-21 19:44] dylan-k commented on #73
@rchrd2 With apologies for the extreme delay, we've had occasion to use Bookreader again at the Walters, but once again the swipe doesn't seem to be working on an iPad. Is there anything special to configure for this perhaps? I can show my work if it helps to diagnose.

[2020-01-30 13:01] tristanr-cogapp commented on #187
Do you have any update on this? Or any suggestions for a workaround if this is not something easy to fix in the hosted Book Reader?

[2020-01-31 00:06] mitra42 commented on #187
I think this may be tied into the issues with generating ePub's on the Archive . There are long standing issues with that.

[2020-02-03 18:37] Sohan022 commented on #173
I have not accessed to open google drive link which is mention in the evidence.

[2020-02-03 19:28] shaneriley commented on #173
Sorry. Here's a new link with changed permissions. https://drive.google.com/file/d/10GkJEL04jM1szcl_1lfGoneOC_K0GR7l/view?usp=sharing

[2020-02-18 17:18] #144 closed

[2020-02-22 19:16] 9devilal commented on #108
@jbuckner is this issue still open

[2020-02-25 07:47] MichaelNZ85 opened #206 "Replace Book Title URL with image - is it possible?"
In the top left-hand corner, the `bookTitle` property is displayed as a link to the `bookUrl` address.

Is it possible to replace this text link with an image, such as a logo, that links to the same URL? If so, how does one go about it?

[2020-03-03 00:36] iisa opened #213 "New End to End Test: Autoplay Plugin"
Create an end-to-end test for the Autoplay plugin

[2020-03-05 14:02] #177 closed

[2020-03-14 17:50] imskr commented on #154
@cdrini Is this still open?

[2020-03-16 10:51] benk-cogapp commented on #187
@mitra42 Is there anything we would be able to do to work around this from our end, or is this dependent on a fix being implemented on the IA side? If so, is this something that is likely to be added in the near future (even if it just suppressed the links)? Thanks.

[2020-03-16 18:54] cdrini opened #240 "Invalid HTML in Toolbar.js"
Toolbar.js has `<button>` tags which are closed with `</a>` 😱 grep for `FIXME`.

[2020-03-22 02:08] iisa opened #250 "End 2 End Test: Read books right to left on archive.org"
Task: Create a manual end to end test that points to archive.org and tests the Right to Left book reading experience.

- Use base tests provided
- Identify and Create new helper tests that test other cases specific to the Right to Left bookreading experience.

Right to Left (rtl) – BR support rtl books.
https://archive.org/details/gendaitankashu00meijuoft/
https://archive.org/details/ceilingstarss

[2020-03-22 02:18] iisa opened #251 "End 2 End Test: Identify tests based on URL pattern of archive.org"
Task:
Identify how the BookReader behaves on archive.org when it loads a book item with certain parameters.
Then, create more tickets/issues to

- Check URL Plugin to determine behavior, and base parameters being tracked in URL
- QA archive.org for various ways a URL can load using various types of books (public domain, borrowable)
- Upon creating a list of expected behaviors, create Github Issues

[2020-03-22 02:20] iisa opened #252 "End 2 End Test: Desktop Search"
Task:
Create base tests for desktop search.  This test will ultimately be applied to the current locally run base tests and also the tests we manually run on archive.org.

- Test input field changes
- Test no results return
- Test results return
- Bonus: Test URL changes

[2020-03-22 02:21] iisa opened #253 "End 2 End Test: Mobile Search"
Task:
Create base tests for mobile search.  This test will ultimately be applied to the current locally run base tests and also the tests we manually run on archive.org.

- Test URL changes
- Test input field changes
- Test no results return
- Test results return
- Test going through results

[2020-03-22 02:22] iisa opened #254 "End 2 End test: Make Oliver Twist Book pass base test"
We have a local repo demo that points to the book: Oliver Twist.

When the base tests are applied, they fail.  Create a new test that covers the issue where the test fails.

Task:
- Identify what tests need to be extended in order for it to pass
- Create a test that is particular to the case that is broken.  Make it generic enough for reuse.
- When that edge case has been covered, refactor out the

[2020-03-23 00:13] tfmorris opened #255 "Where did BookReaderIA code move to?"
What repo did the code deleted by @rchrd2 in commit f068e4622383c9cf5cb29e2a96b931b0aec01e79 move to?

All Github can seem to find is old forks of the bookreader (ie this) repo.

[2020-03-23 18:09] ishank-dev opened #256 "Read this book aloud skips the first word of every sentence"
**Description**

When I click the read this book aloud button the narrator starts to read but for some reason, it skips the first word of every sentence.

**Evidence / Screenshot (if possible)**

![Screenshot_20200323_233125](https://user-images.githubusercontent.com/45262592/77347879-868d9300-6d5e-11ea-838a-b14276e6243e.png)

**Expectation**
The sentence to be read is: "**That book** was made by

[2020-03-23 21:42] tfmorris opened #257 "Zoom needs to be findable on mobile devices"
**Description**

Currently the Zoom In/Out functionality is hidden in the Settings, which is: a) completely unexpected and b) too difficult to access to a commonly used function.

**Proposal**
I propose 3 new top level menu items:
1. Zoom In
2. Zoom Out
3. Toggle 1-up/2-up

If something needs to be removed, move the Read Aloud toggle to Settings. It's going to be used way less frequently than Zoom

[2020-03-23 21:43] tfmorris commented on #122
The poor choice of defaults is exacerbated by the fact that the 1-up toggle is completely hidden in the Settings dialog. I've created #257 to address that (and more importantly, zoom).

[2020-03-23 21:49] tfmorris commented on #257
Oops, this is a duplicate of #65 which was reported over two years ago and which has an open PR (#178) pending, waiting for review for the last five months.

[2020-03-23 21:49] #257 closed

[2020-03-24 21:27] ykabusalah commented on #108
Can I try doing this?

[2020-03-26 09:01] #256 closed

[2020-03-26 09:04] ishank-dev commented on #256
The issue seems to happen in few of the books. Will reopen the issue after finding more evidence about this issue.

[2020-03-27 23:28] bfalling opened #262 "Allow continuous pinching-zooming"
**Context**

The magnification buttons are awkward and only allow zooming in quantized jumps. Panning does not exist. The lack of these common and expected gestures frustrates users and makes reading more difficult and sometimes even impossible.

**Proposal & Constraints**

Improve Zoom so that one can use familiar pinch/zoom gestures to reduce/enlarge book pages. Allow Panning of an image. Both Z

[2020-03-27 23:41] bfalling opened #263 "Support immersion mode via a querystring parameter"
**Context**

We would like to make BookReader more configurable via URL parameters. One need is to be able to open BookReader directly in immersion mode, sometimes called "full-screen mode" (though it's not actually a full-device screen takeover). (Note this is different from the one-page, two-page, and thumbnail (tiled) display layouts, which are also unfortunately called "mode" as well.)

**Prop

[2020-03-28 13:14] ishank-dev opened #264 "TTS reads out symbols"
**Description**

The TTS in book reader often speaks out certain symbols, which are not even there in the book, also most of the TTS aren't supposed to speak out symbols because they act as a break in the flow for listeners.
**Evidence / Screenshot (if possible)**
![Screenshot_20200328_180807](https://user-images.githubusercontent.com/45262592/77823207-42fca580-711f-11ea-9d75-84e299ffb2b6.png)
![S

[2020-03-29 18:45] ishank-dev commented on #179
For some reason, this issue is still persisting in a few of the [contents ](https://archive.org/details/neuro_pattrec/page/n1/mode/2up) from internet archive although it works fine on the books present in open libraries.

[2020-03-30 04:17] iisa opened #267 "End 2 End Test: Read an archive.org book embedded on a site"
Task:
Try to make the base tests pass on a book that is displayed in an iframe.

[2020-03-30 04:24] iisa commented on #206
Hi @MichaelNZ85 thanks for checking in. I'm trying to replicate what you saw, can you give a screenshot of what you are seeing?

[2020-03-30 04:32] iisa commented on #187
Hi @benk-cogapp - thanks for checking in.  We have been getting BookReader's code to a state where it is [hopefully] easier to develop on - with ES6 imports, and unit tests.  We *just merged our last batch of changes.

Is this something you are interested in digging into?

Also, I am looping @bfalling and @pezvi to get this on their radar.

[2020-03-30 04:38] iisa commented on #255
Hi @tfmorris - we actually moved them to the archive.org side.  Is there anything that you are interested in changing, have any questions on?

[2020-03-30 04:48] iisa commented on #154
Hi @imskr looks like it is still open.  Let's wait a few days to hear back from @nirmalks before you can take over in the fix if you like.

[2020-03-30 16:31] cdrini opened #269 "Text Selection plugin"
A plugin that allows users to select text on bookreader. For now, let's do nothing else on top of that. Essentially, if `textSelection` is enabled, a user should be able to select text! Note these are "rough" requirements, and might change as more information is available.

## Summary of Requirements
- Some option `textSelectionEnabled` that can turn text selection on/off
- A new plugin file for t

[2020-03-30 16:48] cdrini opened #270 "Separate Mode1Up out of BookReader.js into own file"
There are a lot of methods inside BookReader.js that are only relevant to Mode1Up. Let's pull these out into a separate file, Mode1Up.js (similar to Mode2Up.js).

## Summary of Requirements
- Law of refactor: **No observable changes to UI or public APIs**. Need to be very strict about this, since BookReader is used by more than just IA, and we don't want to throw a breaking change as part of this.

[2020-03-30 16:49] cdrini opened #271 "Separate ModeThumb.js from BookReader.js"
There are a lot of methods inside BookReader.js that are only relevant to ModeThumb. Let's pull these out into a separate file, ModeThumb.js (similar to Mode2Up.js).

## Summary of Requirements
- Law of refactor: **No observable changes to UI or public APIs**. Need to be very strict about this, since BookReader is used by more than just IA, and we don't want to throw a breaking change as part of t

[2020-03-30 17:12] iisa opened #272 "Remove QUnit"
We have moved to unit tests and end to end tests, QUnit is now deprecated.

Task:
- In BookReader QUnit test, make individual issues to capture the tests we will need to make in end to end or unit tests
- Remove QUnit files

[2020-03-31 16:04] SHarma239 commented on #250
This seems like a good issue.

[2020-04-01 07:25] ishank-dev opened #273 "Add support for TTS to work in Firefox and Brave browser."
**Description**
Many users use the book-reader TTS feature for listening to audiobooks. But readers who use browsers like firefox and brave are not able to take benifit from this feature.
**Evidence / Screenshot (if possible)**
When we click on read out loud button on firefox web browser it just highlights the text without speaking out any audio.
typing ``speechSynthesis.getVoices()`` returns an e

[2020-04-01 07:45] ishank-dev commented on #269
I thought not being able to select the text of books is a feature in itself. Giving people access to copy the text might result in exploitation. However, there shouldn't be any problem with public domain books.

[2020-04-01 08:24] ishank-dev commented on #269
I would like to work on this, I think Mozilla PDF.js can help us achieve this

[2020-04-01 09:58] ishank-dev commented on #269
Check out the [demo](https://ishank-dev.github.io/render_PDF/.) It is responsive on all devices as it uses dimensions from the viewport and generates a text layer over the pdf. However, if we change the window size after pdf is rendered, the text selection will get disabled

[2020-04-01 11:29] ishank-dev opened #274 "Concatenate isolated letters generated in the text files."
**Description**
Few of the words in the text files generated can be fixed by concatenation
**Evidence / Screenshot (if possible)**
![Screenshot_20200326_013317](https://user-images.githubusercontent.com/45262592/78130775-8e70c580-7437-11ea-8998-9f42d6468f4c.png)
Here the 'W' and 'hen' needs to be concatenated
**Proposal & Constraints**
'A' and 'I' are the only one letter word present in English la

[2020-04-01 19:17] iisa opened #275 "Investigate IIIF demo error"
### Problem:
The IIIF demo page in ./BookReaderDemo/demo-iiif.html throws an error as follows:

[code]

### Task:
- [x] Confirm the task by finding the last commit before all of the plugins were converted to ES6 and visiting the demo page
- [ ] Update this issue to raise flag and discuss next steps.

[2020-04-02 07:46] brierjon opened #276 "Share button should provide book deep link as default option"
**Description**
The share button for books only provides the url for the book itself, but does not provide deep link sharing. The URL on the other hand does provide the desired parameters to link within the the book to a specific page. The additional parameters to link to specific pages should be made available in the share feature as an option to just share the book or share the specific page. Th

[2020-04-09 12:10] ishank-dev commented on #254
Can I work on this?
I think I will need some help in knowing the following
1. What type of tests is being referred to here that we have to write?
2. How to go about finding the test case that is broken?

[2020-04-09 14:40] ishank-dev commented on #276
I tried this on the local development setup, this seems to work fine. I guess the changes are not deployed yet. The share button opens a window with more options than it does on the archive.org
![Screenshot_20200409_200738](https://user-images.githubusercontent.com/45262592/78907117-e8a80100-7a9d-11ea-9fb2-4632a129d7df.png)

[2020-04-09 18:45] iisa commented on #255
Going to close this. @tfmorris - please reopen if you have any more questions.

[2020-04-09 18:45] #255 closed

[2020-04-09 19:00] iisa commented on #254
HI @ishank-dev thanks a lot.

We essentially want to uncomment this:
`https://github.com/internetarchive/bookreader/blob/master/tests/e2e/base.test.js#L8`
and see the tests pass.

This test is an end-to-end test using TestCafe. See: `https://github.com/internetarchive/bookreader/blob/master/README.md#end-to-end-tests`
---

The fix has a few parts:
1) identify the On Load behavior that makes the Ol

[2020-04-09 19:02] tfmorris commented on #255
Sorry for the slow reply. I meant to double check the https://github.com/internetarchive repos to see if I'd missed one because I thought I'd checked them all. Can you post the actual URL?

We have an intern who's interested in using the APIs for OpenLibrary. Of course, as an open source project, we also have a strong preference for open source APIs as well. Since they're undocumented, the source

[2020-04-09 20:00] ishank-dev commented on #254
Thanks, @iisa, I tried running the e2e tests using ``npm run test:e2e`` and surprisingly it passed all 21 test cases. I uncommented the ``demo-ia-olivertwist.html`` as well. <br>Did I go wrong anywhere?
![Screenshot_20200410_012118](https://user-images.githubusercontent.com/45262592/78935513-87e2ed80-7aca-11ea-88aa-a60bd51ca682.png)

[2020-04-10 02:29] rchrd2 opened #282 "Allow zooming in and out with the +- keys"
**Context**

It would be nice to be able to zoom in and out using the `-` and `+` keys (without holding shift, so technically `-` `=`.

**Proposal & Constraints**

Just trigger zoom in and out with these keys. Same as if you hit the zoom in or out button.

I am browsing some image-heavy magazines/books and this would optimize the experience.

[2020-04-10 03:00] ishank-dev commented on #282
You can zoom in and out using Numpad `-` and `+` keys.

[2020-04-14 15:37] #240 closed

[2020-04-15 23:43] iisa commented on #254
hi @ishank-dev thanks for your patience. just did a pass through as well and it seems to have resolved itself.  Yes, please just make a PR with uncommenting this and we will get it in.

[2020-04-16 08:47] #276 closed

[2020-04-16 15:05] #282 closed

[2020-04-16 15:24] #254 closed

[2020-04-16 16:01] iisa opened #289 "End 2 end: create a test that borrows a book on openlibrary.org"

[2020-04-16 16:02] iisa opened #290 "End 2 end: Create a test that borrows a book on archive.org"

[2020-04-19 10:41] SHarma239 commented on #290
Are you a GSOC mentor for Internet Archive's project BookReader? I'm having trouble communicating with the mentors as I got no response even after mailing them. I want to start contributing to this project as I had applied for the same and I am already late for that.

[2020-04-19 16:07] ishank-dev commented on #289
Is there a wiki where we can see how to write these test cases? I was thinking if I could help contribute to writing these small tests if it is open for contributors.

[2020-04-20 15:06] ishank-dev opened #292 "Add support for selecting other TTS voices"
**Context**
The content present on the internet archive is accessed by the audience belonging to different parts of the world. Amongst those readers, many of them are visually impaired who solely rely on audiobooks. But it often becomes difficult to interpret the voice of the narrator in case it gets set to a default voice that is non-native to the reader.
Adding support for choosing the desired n

[2020-04-20 15:12] cdrini commented on #292
Note that the accent of BR is _not_ `British English en-GB`; it chooses the accent based on your browser's language. For e.g., my `navigator.languages` is `[ "en-US", "en", "de-DE" ]`, so it chooses an `en-US` voice if the book is in English.

[2020-04-20 15:13] cdrini commented on #292
If there is no accent match, it just chooses the first `en-*` voice on your system.

[2020-04-20 17:02] ishank-dev commented on #292
Okay, I have updated the issue description accordingly :+1:

[2020-05-01 15:35] cdrini opened #299 "Add "space-infix-ops" eslint + fix violators"
Eslint docs: https://eslint.org/docs/rules/space-infix-ops

### Summary of Requirements
- [ ] New rule added to eslint rc
- [ ] `npm run lint:fix` used to fix any violators

[2020-05-07 20:48] cdrini opened #301 "DRY up Mode2Up.flipLeftToRight and Mode2Up.flipRightToLeft"
These functions have _very_ similar logic, and are largely duplicates of each other. DRY them up.

### Summary of Requirements
- [ ] Create pre-refactor unit tests for `Mode2Up.flipLeftToRight` and `Mode2Up.flipRightToLeft`
- [ ] `Mode2Up.flipLeftToRight` and `Mode2Up.flipRightToLeft` should still exist, but call a helper function which takes more parameters and reduces code duplication
- [ ] Upda

[2020-05-07 20:55] cdrini opened #302 "Remove console.log from jest tests"
Some of the Jest tests have console logs, which muddy up the test output. Let's remove them.

[code]

### Summary of requirements
- [ ] No `console.log`s in the test files

[2020-05-07 20:57] cdrini opened #303 "Fix jest tests soft-errors from jsdom"
Some of the jest tests throw errors indirectly using `console.error`. Let's find a way to fix them.

[code]

### Summary of Requirements
- [ ] No "errors" logged during `npx jest`

[2020-05-11 13:54] Pyrojet99 opened #309 "Create tests for switchMode and updateFirstIndex (old QUnit)"
These tests are from the obsolete QUnit tests.

- tests switchMode correctly triggers fragmentChange with suppressFragmentChange set to ‘true’ and ‘false’
- tests updateFirstIndex correctly triggers fragmentChange with suppressFragmentChange set to ‘true’ and ‘false’

[2020-05-13 00:40] #302 closed

[2020-05-13 16:00] #272 closed

[2020-05-13 21:31] Pyrojet99 opened #312 "npm run e2e tests error on Windows"
When running both the scripts test:e2e and test:e2e:dev the tests fail with:
`BASE_URL is not recognized as an internal or external command, operable program or batch file.`

Running instead `BASE_URL=http://127.0.0.1:8000/BookReaderDemo/ npx testcafe --live --dev"` executes the correct test.

Error log:
`
[err_log.txt](https://github.com/internetarchive/bookreader/files/4624776/err_log.txt)
`

[2020-05-18 19:00] shaneriley commented on #263
When it comes to passing options to BookReader via query params, in the past we've written the param parsing on the Petabox side of things, setting the initial options passed in to BookReader based on the presence of query params. A good example is the `?autoplay=1` param. We have options for `flipSpeed` and `flipDelay` that start up autoplay in BookReader, but conditionally setting those options

[2020-05-18 19:17] mc2 commented on #263
I should have discussed this, but currently, BookReader.prototype.initParams gets parameters from
* options.defaults
* cookie
* fragment
I'm extending this so that there's a params.querystring object to hold anything that comes in through the querystring.

So:
params.querystring.autoplay =1

[2020-05-18 19:26] shaneriley commented on #263
So we are moving the query param handling to native BookReader instead of Petabox init of BookReader?

[2020-05-18 19:31] cdrini commented on #263
For now, I think leaving it in petabox makes more sense. Longer term we might want to discuss how to handle this, and longer term we _definitely_ need to clean up BR's options so they're not all on a global scope, but changing the options structure in this way would require a breaking change, which I don't think is worth it right now. I definitely don't think we should do it as part of something e

[2020-05-18 20:08] mc2 commented on #263
not breaking changes, but if we're going to handle `q=[term]` searching in native BookReader, there has to be query param handling

[2020-05-18 20:10] mc2 commented on #263
No, adding query param handling to native BookReader in addition to Petabox init

[2020-05-22 01:49] fenchu opened #318 "buttons/shortcuts for quit, match width and match height"
**Context**

I would like to have q as a quit button that closes the window
match height to use the most of height
match width to get max width, there is so much screen estate being wasted unless
it is preprocessed to the correct sizze before veiwing it

**Proposal & Constraints**

No

Button on meny and keyboard shortcuts

**Additional Resources**

**Success Metrics**

**Stakeholders**

[2020-05-22 15:14] cdrini opened #320 "Autoplay plugin E2E test sometimes fails randomly"
Perhaps related to `t.wait` on line 12?

[code]

### Relevant files
https://github.com/internetarchive/bookreader/blob/70d1bbc547de37f6b4c30b77a3e410e311f5ed5d/tests/e2e/autoplay.test.js#L12

[2020-05-22 15:17] #252 closed

[2020-05-27 09:08] Pyrojet99 opened #323 "Better"
**Context**

**Proposal & Constraints**

**Additional Resources**

**Success Metrics**

**Stakeholders**

[2020-05-27 15:23] #303 closed

[2020-05-28 22:36] cdrini opened #325 "Convert "Toggle High Contrast" button to checkbox"
Currently it appears as this:

![image](https://user-images.githubusercontent.com/6251786/83200728-f7ac4680-a111-11ea-9666-9727ff8a3610.png)

Let's convert it to a check box. In the future (not part of this issue) this will allow us to add other filters (like an "Invert" or "Sepia").

### Summary of Requirements
- [ ] The button is a checkbox
- [ ] Some test somewhere to ensure it's functioning

[2020-05-30 20:13] Pyrojet99 opened #326 "Adding table of contents page to mobile BookReader"
**Context**

Table of contents is now displayed only on desktop Bookreader, it should be added to the mobile version too.

**Proposal & Constraints**

In the hamburger menu in the mobile Bookreader we could add another button which displays the table of content list, each element being clickable and addressing to the corresponding chapter page.

**Additional Resources**

**Success Metrics**

**Sta

[2020-05-31 14:12] #299 closed

[2020-06-01 21:09] cdrini opened #331 "Eslint should also validate the test files"
Currently eslint is only operating on the src code, but not the tests! The `lint` commands in package.json need to be updated.

### Summary of Requirements
- [ ] All .js files should be validated when running `npm run lint`
- [ ] All the existing violations should be fixed (likely only need to run a `npm run lint:fix`)

[2020-06-03 14:28] Kartik1397 commented on #331
Hi @cdrini, Can I work on this issue?

[2020-06-03 15:37] #263 closed

[2020-06-03 15:42] #17 closed

[2020-06-03 15:43] #6 closed

[2020-06-03 16:16] cdrini commented on #331
Hi @Kartik1397 , yes please! Thank you :)

[2020-06-03 21:25] cdrini opened #343 "Testcafe tests failing due to changes in BookReaderJSIAinit"
Failing with error:

[code]

**Stakeholders**

@iisa

[2020-06-04 12:23] Kartik1397 commented on #331
Should I remove these unused variable shown during `npm run lint:fix`?

--------------------------------------------------------------------------------------------

/home/k/bookreader/tests/BookReader/Navbar/Navbar.test.js
  8:29  error  'Navbar' is defined but never used  no-unused-vars

/home/k/bookreader/tests/e2e/autoplay.test.js
  2:8  error  'BookReader' is defined but never used  no-unused

[2020-06-04 21:33] #343 closed

[2020-06-04 21:42] #312 closed

[2020-06-04 21:51] cdrini commented on #331
Yep! I think they should be safe to remove. Except for fixture.

`fixture` is a global defined by `testcafe`; it looks like we might need to add this plugin to handle that: https://www.npmjs.com/package/eslint-plugin-testcafe . Let me know if you have any questions!

[2020-06-05 21:45] #331 closed

[2020-06-05 22:16] #320 closed

[2020-06-07 23:43] tfmorris commented on #255
@iisa Am I correct in believing that this code is no longer open source and that the repository that it's been moved to is some private proprietary one?

[2020-06-08 14:18] iisa commented on #255
hi @tfmorris! Yes the code is no longer in this repo, but still accessible.  We are a tiny team, and unfortunately, documenting gets lost along the way.  If the work is for the API, I would circle back with @cdrini and @mekarpeles to see what we can do to help them along.

[2020-06-08 15:53] cdrini opened #349 "BookReader flipping randomly goes wonky"
**Description**

Clicking flip forward / backward sometimes causes flipping to go crazy?

**Evidence / Screenshot (if possible)**
![random flipping](https://user-images.githubusercontent.com/6251786/84052438-92ace800-a97e-11ea-821b-172a7cbeaf1b.gif)

Confirmed on:
- https://archive.org/stream/cu31924014450716?ref=ol#page/n45/mode/2up?ref=ol
- https://archive.org/stream/systemsoftwarein0002beck

**

[2020-06-09 02:44] rchrd2 commented on #255
Some more context: I removed these files, because they were out of date with the in-production files within Archive.org's proprietary codebase.

[2020-06-11 00:18] kristopolous commented on #349
I've been meaning to get more involved in IA stuff, let me see what I can do ... give me a few hours.

[2020-06-11 04:28] kristopolous commented on #349
it's a race condition with the url in the locationpolling, if you page in the time window after the animation and before the fragment update it triggers it at 500ms intervals until you get lucky enough to have favorable timing (usually a few times) ... I'll see what I can do about it.

[2020-06-11 04:37] mekarpeles commented on #349
Thank you @kristopolous! This is greatly appreciated <3

[2020-06-11 04:46] kristopolous commented on #349
the most trivial solution would be to change a few constants around ... the bug will stay in tact but you'll go make it impossible to trigger ... I'll probably submit a few possible patches here and you can choose to accept whatever you'd like.

[2020-06-11 09:40] kristopolous commented on #349
it's actually because that link has a querystring in it ... that's what's causing the bug ... pr coming soon.

[2020-06-11 10:02] kristopolous commented on #275
It's caused by the page number not being set (currentIndexL) prior to making the call. then it gets an NaN for indexing an array and we see this issue. It looks like either there needs to be a default value, this initial case has to be accounted for, or the order of the operations need to change ... I'll see if I can find a really low impact fix for this.

[2020-06-12 16:14] spacejamjim commented on #275
@kristopolous I understand there are no promises, but thank you for finally picking this up. The IIIF feature would be an amazing addition

[2020-06-15 13:42] #325 closed

[2020-06-15 14:10] cdrini opened #353 "Consolidate demo-ia-plato and demo-ia-olivertwist"
These are largely identical demos that differ only in the OCAID specified. Note the oliver twist demo also uses `/` style urls instead of `#`, but these don't work properly with the demo servers, so let's just use the `#` style URLs for the demos.

I recommend using `document.writeln` as much as possible to make this simple.

## Summary of Requirements
- [ ] URL parameter, `&ocaid=FOO` that can be

[2020-06-15 14:21] cdrini opened #354 "Consolidate most "BookReaderJSSimple" demo files"
Most of the demo files differ only in:

1. `plugins` used
2. BookReader options
3. Book data

All the demos that use BookReaderJSSimple have the same data. Consolidate those to be the same HTML file, with URL parameters for specifying any extra BookReader options.

## Summary of Requirements
- [ ] Create a demo file with URL parameters:
    - [ ] e.g. `&plugins=mobile_nave,url,tts`
    - [ ] e.g.

[2020-06-15 14:36] cdrini opened #355 "Support children Table of Contents entries"
Open library supports nested table of contents sections; e.g. https://openlibrary.org/books/OL26263479M/An_Astronaut's_Guide_to_Life_on_Earth . Let's display these correctly in the bookreader.

Blocked by #326

## Summary of Requirements
- [ ] All collapsible-toc entries should be collapsed when panel is opened, _except_ for "current" section
- [ ] Way to expand toc entry to view its children
- [

[2020-06-16 11:00] Pyrojet99 commented on #275
- https://github.com/internetarchive/bookreader/commit/f2c52671be541b4ef5828133a65059971582dc08 is the last working commit for IIIF demo

- https://github.com/internetarchive/bookreader/commit/03c10ef1162995821c1c1cba195533171e8e37dc IIIF demo does not work, but the error is not shown either

- https://github.com/internetarchive/bookreader/commit/d7335d4710f26df24b078c29ae10908db10de2b0 first comm

[2020-06-16 13:19] spacejamjim commented on #275
Most likely already known but the `IIIFBookReader.js` as it stands uses IIIF 1.0 `full/full/0/native.jpg` versus the `default.jpg` which would be a quick fix.
Also,  thanks a ton.

[2020-06-16 18:25] spacejamjim opened #358 "demo-advanced doesn't turn pages"
**Description**

**Expectation**

**Context**

[2020-06-20 16:35] Pyrojet99 commented on #358
Does not seem to be a configuration-related problem. Probably it has something to do with BookReaderJSAdvanced.js which both demo-advanced.html and demo-plugin-menu-toggle.html share.

[2020-06-22 14:28] MayankVir commented on #251
I would like to work on this issue. I am a newbie

[2020-06-22 14:28] MayankVir commented on #213
I am newbie to open source and would like to work upon the issue

[2020-06-22 14:29] MayankVir commented on #267
I would like to work on this issue. I am a newbie to Open Source world

[2020-06-24 16:23] cdrini commented on #213
Hi @MayankVir ! Oops, it looks like this issue was already completed.

[2020-06-24 16:23] #213 closed

[2020-06-25 14:30] Pyrojet99 commented on #267
Hi @MayankVir! If you are interested in helping us with E2E testing this would be a good first issue to start with. Let me know if you need any support!

[2020-06-26 08:17] MayankVir commented on #267
Yes sure

[2020-06-26 08:23] MayankVir commented on #267
Actually I dont know properly what to do in this issue. It was tagged easy so I commented. Do I only have to read any book ?

[2020-06-26 08:45] Pyrojet99 commented on #267
Basically BookReader uses automated End-to-End tests with Testcafe. Inside `\bookreader\tests\e2e\helpers\base.js` there is a bunch of base tests that are currently tested only with Internet Archive books in `\bookreader\tests\e2e\base.test.js`. We would like to try the same tests also on `\bookreader\BookReaderDemo\demo-embed.html`. To do this, you should probably create a js file similar to base

[2020-06-26 08:55] MayankVir commented on #267
Okay, I will do

[2020-06-26 09:51] MayankVir commented on #267
I have created js file for demo-embed.html but how to test the js file

[2020-06-26 10:08] MayankVir commented on #267
from NPM server?

[2020-06-26 11:56] Pyrojet99 commented on #267
Great! To run all the e2e tests you have to use the command `npm run test:e2e:dev` (make sure your js file is in the right directory and has .test.js in the name such as `foo.test.js`)

[2020-06-26 11:57] Pyrojet99 commented on #267
To only run your test add `.only` to your test or fixture

[2020-06-26 14:21] MayankVir commented on #267
It is throwing error " 'testcafe': no such file or directory "

[2020-06-26 17:39] imskr commented on #267
@MayankVir you need to install testcafe

[2020-06-26 20:19] spacejamjim opened #361 "Overwrite _getSocialShareUrl"
### I want to overwrite this function that supplies the share buttons with the url

**From Toolbar.js**

[code]

**BookReaderJSSimple:**

[code]

**Expectation**

I'm not too great with jQuery and am wondering if this is an easy fix someone could assist with

[2020-06-27 15:09] MayankVir commented on #267
I tried installing testcafe but that also throws error " Cannot read property 'resolve' of undefined ". I searched on stackoverflow it says reinstalling node v10.16 but this didn't work out for me. I am stuck with the error

[2020-06-29 21:51] Pyrojet99 commented on #267
@MayankVir Could you give us the full error that you get? Seems more like a configuration problem to me

[2020-06-30 05:56] MayankVir commented on #267
Yes. below the full error :

virma ~ $ npm install -g testcafe
npm ERR! Cannot read property 'resolve' of undefined

npm ERR! A complete log of this run can be found in:
npm ERR!     C:\Users\virma\AppData\Roaming\npm-cache\_logs\2020-06-30T05_54_11_454Z-debug.log

[2020-06-30 14:22] #353 closed

[2020-07-01 15:41] #361 closed

[2020-07-02 13:10] Pyrojet99 commented on #267
Seems it could be a nodejs related problem, reinstalling node could solve it. However, installing testcafe shouldn't be needed to run the tests. Since testcafe tests are relatively new on BookReader, could you make sure you have the latest BookReader repo on your machine?

[2020-07-02 13:11] #250 closed

[2020-07-05 10:44] seabelis opened #366 "Full screen mode hides bottom of pages, scrolling not possible"
**Description**

Using full-screen mode hides just the smallest bit at the bottom of the pages behind the horizontal nav. This usually is nothing, but sometimes this hides ISBN, copyright, or page numbers. I believe this started in the past week to two weeks. It is not possible to scroll, so one must exit full screen to see this area.

**Evidence / Screenshot (if possible)**

<img width="917" alt=

[2020-07-05 15:35] Pyrojet99 commented on #358
Done a little bit of research into that:
- Last working commit   https://github.com/internetarchive/bookreader/commit/797da9273b9e592207d4e1e11e7ecf2213569690

- First commit with this issue https://github.com/internetarchive/bookreader/commit/fdd8c7ebe911a6ec36c7a522d83b925accbb1301

(those two commits are sequential)

[2020-07-08 16:10] cdrini commented on #358
It looks like that commit was the v4.12.0 release, so probably one of these commits might have broken it: https://github.com/internetarchive/bookreader/compare/v4.11.1...v4.12.0 . We'll need to build the files to test these commits, because otherwise it'll just use the v4.11.1 build files (where it was working).

[2020-07-09 14:25] imskr commented on #301
I can do this @cdrini I need some more details on it like how exactly you want to refactor?

[2020-07-09 19:59] #326 closed

[2020-07-10 15:20] cdrini opened #371 "Unable to type "-" or "=" in input fields outside BR"
To reproduce:
1. Go to https://archive.org/details/completebookofpi00hass
2. Try to type "-" or "=" into the search box at the top of the page

* Expected: Can type them
* Actual: They zoom in/out the BR

## Proposal & Constraints

- Keyboard shortcuts should only work if the event target is not an input box

## Stakeholders

@textfiles

[2020-07-10 15:28] cdrini commented on #366
Thanks @seabelis ! Could you provide the link where you observed this?

[2020-07-10 15:41] cdrini opened #372 "Images appear blurry on highres displays"
BookReader doesn't take into account display resolution when determining the size of the images to display. We should have a way for images to have a `srcset` to support multi-resolution images. That way highres displays will use the larger images, whereas lowres displays can keep using the smaller images.

See https://developer.mozilla.org/en-US/docs/Web/HTML/Element/img#Using_the_srcset_attribut

[2020-07-10 19:41] seabelis commented on #366
Different item, but same issue. https://archive.org/details/englishcountryhogodf00chri/page/n375/mode/2up
The issue applies to all, but only some items have important information that low on the page or cover.

[2020-07-10 21:09] cdrini commented on #366
Oh! I was able to reproduce as well on FF78,Win10:
![image](https://user-images.githubusercontent.com/6251786/87192993-b76de580-c2c5-11ea-8bc2-7ff17b76eeb4.png)

[2020-07-10 21:10] cdrini commented on #366
cc @shaneriley

[2020-07-10 21:22] shaneriley commented on #366
Yeah, 2up mode needs a bit of refinement. This was the issue Drini and I were meeting on where there's no true "BookReader is done" event emitter. With that, I can tell the page containers to resize to fit the container. But really, I think the CSS for the pages in 2up can be changed to percentage values and that would ensure they'd always be fully in view and centered.

We're going to need some o

[2020-07-15 14:21] Pyrojet99 opened #374 "Scrolling to current chapter in mobile TOC"
**Context**
We would like the list of the chapters to be scrolled to the current chapter each time the table of contents is opened

**Proposal & Constraints**

The process to find the current chapter when the TOC table is opened is already done. The current chapter element is defined by the class `.current-chapter`. The code to scroll the TOC table to the current chapter should be in the `BookRead

[2020-07-17 01:00] cdrini opened #377 "Clicking a chapter in the table of contents should close the sidebar"
Currently: Clicking the chapter changes the page, but you then have to manually close the sidebar. We should just make it close automatically once a chapter is selected.

![BookReader table of contents](https://user-images.githubusercontent.com/6251786/87736857-45a30980-c7a7-11ea-93f2-3e2975827d8a.gif)

## Stakeholders

@Pyrojet99

[2020-07-17 04:44] ForgottenProgramme commented on #377
Hey, @cdrini ! Can I please try working on this?

[2020-07-18 15:21] Pyrojet99 commented on #358
Updated:
- Last working commit: f70a9d5321fb129ececbcd1c415cd7d808677573
- First broken commit: af20d90b3267f03bcd90e3179f518dec4e342baa

[2020-07-20 15:12] cdrini commented on #377
Awesome, go for it, @ForgottenProgramme ! @Pyrojet99 can answer any questions :)

[2020-07-20 15:13] cdrini commented on #349
This re-appeared after the 4.13.1 deploy 😬

[2020-07-23 16:39] #358 closed

[2020-07-23 17:11] cdrini opened #385 "Delete BookReader/jquery.bt.min.js"
No longer used as a result of @shaneriley 's changes 🎉

[2020-07-23 20:46] cdrini opened #387 "Move ./BookReaderDemo/index.html to ./index.html"
Netlify urls display a 404 because we don't have an HTML file at the root; let's just move the demo file to be at the root of the project.

## Summary of Requirements
- [ ] Move ./BookReaderDemo/index.html to ./index.html
- [ ] Update all references inside `index.html` to point to the correct files
- [ ] Update any references to `./BookReadederDemo/index.html` to point to the new index.html

[2020-07-23 22:05] cdrini opened #388 "Add "eol-last" always eslint + fix violators"
Eslint docs: https://eslint.org/docs/rules/eol-last

### Summary of Requirements
- [ ] New rule added to eslint rc
- [ ] `npm run lint:fix` used to fix any violators

### Stakeholders
@shaneriley

[2020-07-24 12:52] anirbansaha782 commented on #387
i want to take this issue

[2020-07-24 19:45] shaneriley commented on #387
@anirbansaha782 It's all yours! This will make it much easier to pass along review app URLs.

[2020-07-25 00:28] #349 closed

[2020-07-25 18:09] shaneriley commented on #385
Will be closed with https://github.com/internetarchive/bookreader/pull/381

[2020-07-27 04:59] rchrd2 opened #395 "Fullscreen bug on this item"
There is a bug with full screen on the following item. It may be an issue with all items with multiple sub items (I have not tested).

https://archive.org/details/1619project/page/n15/mode/2up

<img width="1547" alt="Screen Shot 2020-07-26 at 9 58 22 PM" src="https://user-images.githubusercontent.com/182479/88505040-29fbe800-cf8b-11ea-8901-89389f899a61.png">

To reproduce:
- Visit the item linked

[2020-07-27 13:05] JanviMahajan14 commented on #371
Hi @cdrini I would like to work on this issue. I am able to run the project locally in my system but not able to understand how I can reproduce this issue ? I checked this http://localhost:8000/BookReaderDemo/demo-internetarchive.html?ocaid=adventuresofoli00dick and I am not able to reproduce this issue. Can you tell me where I can reproduce this issue ?

[2020-07-27 16:16] shaneriley commented on #395
Note: issue is only present in Safari. Chrome, Firefox, and Edge function as expected.

[2020-07-27 19:12] #372 closed

[2020-07-27 19:16] shaneriley commented on #371
@JanviMahajan14 you can open up BookReaderDemo/demo-internetarchive.html, add a form to the bottom of the page like `<form action="" method="get"><textarea rows="16" cols="80"></textarea></form>`, and then try to type - and = in it. If you take this on, it would be great of any keyboard events that trigger actions in book reader only do so if the book reader element or its children have focus. If

[2020-07-27 20:06] #388 closed

[2020-07-28 21:01] shaneriley commented on #395
Fixed with latest deployment.

[2020-07-28 21:01] #395 closed

[2020-08-05 10:26] fakeharahman commented on #377
Hey! If this hasn't been solved yet, can I give it a shot?

[2020-08-06 14:50] mitchell-frost commented on #377
Hey! Can I work on this...if it's still open?

[2020-08-06 21:19] benwbrum opened #410 "Bookreader image requests return 404"
**Description**

Three days ago, the Bookreader client embedded within [FromThePage](https://github.com/benwbrum/fromthepage) started receiving `404` error codes from the Internet Archive when attempting to display images which had previously worked.  At the time, this seemed to be the same problem as the `417` error returned by the BookURL `download` API when requesting thumbnails, however that p

[2020-08-07 00:36] iisa commented on #410
Hi @benwbrum and @saracarl,

Thanks for reaching out and our apologies for the disruption. We were unaware that anyone else was hitting our internal link to images directly.

We are currently in development to bolster our image infrastructure and our internal links will be in flux. In order to provide the best service that we can, it is best to point to our images using our public endpoint: `https

[2020-08-07 06:37] mekarpeles opened #411 "Desktop BR width: < 790px missing zoom buttons in menu"
**Description**

Neither the side menu nor the bottom bar have ways to zoom/unzoom. In the side menu the DOM elements exists.

In one sets `zoom_in` to `width: 20px; height: 20px; background-color: #000` it seems to render a clickable, working zoom button area.

**Evidence / Screenshot (if possible)**

![archive org_details_shorthistoryofne0000brys_u9b9_page_93_mode_1up_admin=1 q=book (4)](https:/

[2020-08-07 15:28] saracarl commented on #410
Thanks, we’ll try that.

We suspect the reason we used the internal URLs was because this integration was written in 2010!

[2020-08-07 16:25] cdrini commented on #411
This contains the old version; I'm still getting the zoom buttons disappearing around there (I think that's always been the case): https://www-drini.archive.org/details/goody

The zoom buttons missing from the mmenu is a regression though.

[2020-08-07 16:26] iisa commented on #411
circling @pezvi here

[2020-08-07 16:27] shaneriley commented on #411
Per Jim Shelton, the mobile zoom buttons and heading are to be removed. The branch https://github.com/internetarchive/bookreader/tree/new-chrome-adjustments removes them completely and renders the zoom in/out buttons until mobile instead of until tablet.

[2020-08-07 21:14] #411 closed

[2020-08-07 22:36] benwbrum commented on #410
Many thanks for your help on this!

We've [switched our code](https://github.com/benwbrum/fromthepage/pull/1956) over to use Open Seadragon and IIIF for displaying Internet Archive-hosted images, so believe we have fixed the problem.  Bookreader has served us well for a decade, but OSD is the same image client we use for all other integrations, so removing it was a long-delayed goal for our projec

[2020-08-07 22:36] #410 closed

[2020-08-10 11:59] ForgottenProgramme commented on #387
@shaneriley , Is the issue still open?
Can I take it up?

[2020-08-10 12:02] ForgottenProgramme commented on #262
@iisa Can I take it up please?

Also why is this issue marked both 'advanced difficulty'  and 'good first issue' ?

[2020-08-10 16:41] #387 closed

[2020-08-10 19:35] iisa opened #418 "Search Plug-in"
**Context**
Problem:
If search is running on page load, the request directly blocks the draw of BookReader, especially if it already has the manifest to draw.

**Proposal & Constraints**

Task:
- run search after book reader draws book.

**Success Metrics**

Search starts to run after BookReader says it is "done/loaded", search starts request.
Perceived wait time to look at a book when it gets loa

[2020-08-19 05:02] Roushangopal commented on #377
Hi, Can I resolve this, if it's still open?

[2020-09-07 17:31] ForgottenProgramme commented on #377
Thankyou, @cdrini ! I'm taking this up. :)

[2020-09-08 17:17] cdrini opened #435 "Testcafe tests failing frequently, but inconsistently"
Master build failing; seems to have gotten flakier after #367

[2020-09-08 17:23] cdrini commented on #435
They're passing locally on my machine.

[2020-09-08 17:28] cdrini commented on #435
Seems to random between the Travis Branch job, travis PR job, or both failing

[2020-09-08 17:34] cdrini commented on #435
The test that causes the failure also appears to be random; here are some of the ones that are failing:

https://travis-ci.com/github/internetarchive/bookreader/builds/182263172
[code]

https://travis-ci.com/github/internetarchive/bookreader/builds/182263044

[code]

[code]

https://travis-ci.com/github/internetarchive/bookreader/builds/182458827
[code]

[2020-09-09 00:09] #435 closed

[2020-09-09 07:08] Kaku-g commented on #371
hey @cdrini  i would like to work on this issue.Where can I locate the searchbox file?

[2020-09-14 21:39] cdrini opened #445 "Add "space-after-keywords" always eslint + fix violators"
Eslint docs: https://eslint.org/docs/rules/space-after-keywords

### Summary of Requirements
- [ ] New rule added to eslint rc
- [ ] `npm run lint:fix` used to fix any violators

### Stakeholders

[2020-09-14 21:41] cdrini opened #446 "Add "semi" always eslint + fix violators"
Eslint docs: https://eslint.org/docs/rules/semi

### Summary of Requirements
- [ ] New rule added to eslint rc
- [ ] `npm run lint:fix` used to fix any violators

### Stakeholders

[2020-09-17 15:13] mahakporwal02 commented on #267
@Pyrojet99  Hey is this issue still open? I want to work on this
As said earlier I have created demo-embed.html and some tests are running successfully....pls guide what should I do further

[2020-09-17 15:32] nikhilgupta2001 commented on #446
i would like to work on this issue

[2020-09-17 15:39] iisa commented on #267
@mahakporwal02 let's see that PR!

[2020-09-17 15:40] iisa commented on #446
ok sounds good @nikhilgupta2001

[2020-09-17 15:49] nikhilgupta2001 commented on #377
Hey! Can I work on this...if it's still open?

[2020-09-17 15:54] nikhilgupta2001 commented on #445
@cdrini
Hey! i would like to work on this

[2020-09-18 18:37] nikhilgupta2001 commented on #267
HeY! is it still open ! i would like to work on it mam

[2020-09-19 08:55] manasivaraiya commented on #206
is the issue solved? if not can i work on it?

[2020-09-19 12:37] mahakporwal02 commented on #267
I have made the pull request kindly review it ma'am

[2020-09-20 02:46] jamesachamp commented on #354
I'll take this up.

[2020-09-21 12:15] jamesachamp commented on #354
Do we want the query string to be human-readable?  Something like `&extraOpts={"startFullscreen": true}` will need to be encoded in order for the URL to be valid.

[2020-09-21 17:38] cdrini commented on #354
Awesome! In the spirit of YAGNI, I think it's ok if it's not human readable. If that ends up being too annoying, we can add it later :)

[2020-09-21 17:44] nikhilgupta2001 commented on #371
hey @cdrini is this still open?  i would like to solve it

[2020-09-21 17:50] nikhilgupta2001 commented on #446
mam do you have a slack channel or other platform for connecting with community if yes please provide link i would like to be in touch

[2020-09-22 10:40] mahakporwal02 commented on #267
@iisa @Pyrojet99  Kindly guide me what should I do further

[2020-09-22 22:17] Abhirup-99 commented on #445
Hi @cdrini I would like to work on this.

[2020-09-22 22:18] Abhirup-99 commented on #374
@Pyrojet99 I would like to work on this issue.

[2020-09-23 01:08] jamesachamp commented on #354
@cdrini Is is alright if I open a draft PR for this tomorrow?  I want to make sure my approach is acceptable before consolidating all of the files.

[2020-09-23 01:50] cdrini commented on #354
Absolutely, please do!

[2020-09-23 22:16] jamesachamp commented on #354
This is a bit more involved than I originally thought.  I'm trying to import the plugins programmatically, but if they are not loaded in the correct order the demo doesn't work properly.

I am able to pass the extra options successfully via a query string, though.

[2020-09-23 22:34] cdrini commented on #354
Hmm, can you push your code up? If they're loaded in the same order as in the URL, does that not work?

[2020-09-23 23:03] jamesachamp commented on #354
Just pushed it up.  FYI: It looks like there are 10 total demo files that use BookReaderJSSimple.  Of those, only 3 use plugins.

[2020-09-23 23:29] cdrini opened #453 "Preview Pages demo not loading images"
**Description**
The preview pages demo is not loading images.

**Evidence / Screenshot (if possible)**

![image](https://user-images.githubusercontent.com/6251786/94084267-2346f100-fdd3-11ea-93eb-3d267161ef7f.png)

**Expectation**

**Context**

**Proposal & Constraints**

We shouldn't be using BookReaderImages.php (or whatever it is) directly.

**Stakeholders**

@jamesachamp @iisa

[2020-09-24 23:50] jamesachamp commented on #354
I've marked this ready for review.  The only demo that I didn't include in the refactor is the preview pages demo.  I suspect that the length of the query string for that demo will exceed the URL length limits...

[2020-09-25 17:00] surajat17 commented on #154
is this issue still open?... if yes i would like to work on it

[2020-09-25 17:06] nirmalks commented on #154
Please feel free to take it up

[2020-09-25 18:45] surajat17 commented on #154
okay thanks i am on it.

[2020-09-25 18:49] surajat17 commented on #154
@cdrini can you assign it to me?

[2020-09-25 19:27] surajat17 commented on #301
hey @cdrini i am have forked this and running in my local device succesfully.. can you assign it to me?

[2020-09-26 16:17] anushri20 commented on #377
@cdrini Is someone working on this? Or I would like to work on this.

[2020-09-26 16:18] anushri20 commented on #453
I would like to give it a try.

[2020-09-26 17:24] ron-debajyoti commented on #453
The uris' used seem broken as the item in [https://ia800900.us.archive.org/BookReader](url) is not available.

[2020-09-26 18:29] ron-debajyoti commented on #267
@iisa @Pyrojet99 @mahakporwal02 First time contributing to this project as well. As I understand from the `base.test.js` and `\bookreader\tests\e2e\helpers\base.js`, the some of the base tests like **Checking `full screen button`** or  **Clicking `zoom out`** testcases are redundant in the case of `\bookreader\BookReaderDemo\demo-embed.html`.
SoI think we need to find some new necessary test check

[2020-09-26 21:39] mmarvick commented on #187
I'm also curious about this, after failing to generate a Mobi for this book: https://archive.org/details/HowToLieWithStatistics

Is the code to generate mobi/epub/etc a part of this repo? I did the simple thing and tried searching for the text "DOWNLOAD OPTIONS", and didn't see that anywhere. I might just not be looking for the right thing though.

[2020-09-27 08:38] Yashs911 commented on #445
@cdrini Please have a look at my PR and suggest any changes I need to make.

[2020-09-28 13:30] mahakporwal02 commented on #267
@ron-debajyoti If the testcases are redundant if would simply fail the tests

[2020-09-28 13:43] ron-debajyoti commented on #267
@mahakporwal02 It actually does fail for me if I add `runBaseTests, runDesktopSearchTests` and `runMobileSearchTests` for `demo-embed.html`

[2020-09-28 21:41] #445 closed

[2020-09-29 04:13] anushri20 commented on #323
@Pyrojet99 Can I work on this?

[2020-09-29 12:49] shubham00jain commented on #301
@cdrini is this still open? I'd like to work on it.

[2020-09-29 12:54] diwanshu8850 commented on #301
@cdrini If the issue is still not resolved would like to take it up from here on.

[2020-09-29 16:55] Yashs911 commented on #446
Hey, @nikhilgupta2001 are you working on this issue. If not then can I create a PR?

[2020-09-29 17:29] nikhilgupta2001 commented on #446
Yah i am working on it

On Tue, Sep 29, 2020, 22:25 Yash Saravgi <notifications@github.com> wrote:

[2020-09-30 20:00] iisa opened #460 "Move `pageChanged` event name into events.js"
Task:

- Update events 'list' to include new field: `pageChanged = 'pageChanged'`;
- find all the places `pageChanged` is used, and point it to its new reference (`events.pageChanged`)
- Make sure that the event `BookReader:pageChanged` is emitted when changing the page
- Make sure all tests pass

https://github.com/internetarchive/bookreader/blob/master/src/js/BookReader/events.js

[2020-09-30 21:58] nynaalekhya commented on #460
Hi,
I would like to take up this issue.  Could this be assigned to me @iisa

[2020-10-01 17:57] Yashs911 commented on #446
Hey, @cdrini I would like to work on this issue.

[2020-10-01 18:05] Yashs911 commented on #154
@surajat17 are you still working on this issue or I can take it up?

[2020-10-02 17:37] cdrini opened #470 "Add "space-before-blocks" always eslint and fix violators"
Eslint docs: https://eslint.org/docs/rules/space-before-blocks

### Summary of Requirements
- [ ] New rule added to eslint rc
- [ ] `npm run lint:fix` used to fix any violators

### Stakeholders

@Yashs911

[2020-10-02 17:38] cdrini commented on #446
If the PR stagnates for more than a week, I'll close it so that others can give it a try :) Would you be interested in tackling #470 , perhaps?

[2020-10-02 17:39] cdrini commented on #470
@Yashs911 Would you be interested in taking this one?

[2020-10-02 17:43] Yashs911 commented on #470
@cdrini Yes

[2020-10-02 17:59] cdrini commented on #470
Awesome! I'm assigning it to you :)

[2020-10-02 18:01] Yashs911 commented on #470
@cdrini PR created.

[2020-10-02 18:13] #470 closed

[2020-10-02 18:21] Yashs911 commented on #154
Hey, @cdrini Can I create a PR for this issue as I guess the previous PR was closed.

[2020-10-02 18:32] cdrini commented on #154
:+1: Go for it

[2020-10-02 19:50] cdrini opened #477 "Add plugin.archive_analytics.js to eslint"
## Summary of Requirements

- [ ] Remove the file from the exclude list in `.eslintrc.js`
- [ ] Run `npm run lint:fix` to fix anything that can be automatically fixed
- [ ] Manually fix what's left (place in separate commit, so we can more easily review the manual changes)
- [ ] Test everything still works

[2020-10-02 19:51] cdrini opened #478 "Add plugin.menu_toggle.js to eslint"
## Summary of Requirements

- [ ] Remove the file from the exclude list in `.eslintrc.js`
- [ ] Run `npm run lint:fix` to fix anything that can be automatically fixed
- [ ] Manually fix what's left (place in separate commit, so we can more easily review the manual changes)
- [ ] Test everything still works

[2020-10-02 19:52] cdrini opened #479 "Add plugin.tts.js to eslint"
## Summary of Requirements

- [ ] Remove the file from the exclude list in `.eslintrc.js`
- [ ] Run `npm run lint:fix` to fix anything that can be automatically fixed
- [ ] Manually fix what's left (place in separate commit, so we can more easily review the manual changes)
- [ ] Test everything still works

[2020-10-02 19:54] #154 closed

[2020-10-02 20:25] #477 closed

[2020-10-02 20:25] #478 closed

[2020-10-02 20:25] #479 closed

[2020-10-02 20:51] ArunTeltia commented on #446
@cdrini please have a look the assignee was not doing pr, so i thought i can try this issue

[2020-10-02 21:21] ArunTeltia commented on #301
@shubham00jain  @diwanshu8850  are you working on this

[2020-10-03 15:31] iisa opened #487 "Remove menu tab at the bottom right"
- Remove menu tab at bottom right of screen, just above the 'fullscreen' button
![image](https://user-images.githubusercontent.com/7840857/94995398-de4d5800-0552-11eb-9b33-7d51f052aa25.png)

Acceptance:
- dom element is removed
- css for that button is removed

When PR:
- add a gif to show that on-page-load, the tab is no longer present

[2020-10-03 15:36] iisa commented on #460
hi @nynaalekhya i apologize for not getting you assigned quickly.  We will go with the current PR that is open since it is being worked on.
Would you like to take this one instead? https://github.com/internetarchive/bookreader/issues/487

[2020-10-03 18:37] Yashs911 commented on #487
Hi, @iisa I would like to work on this issue.

[2020-10-04 04:00] ArunTeltia commented on #460
@iisa mam can you assign a issue to me as well please

[2020-10-05 11:52] ron-debajyoti commented on #453
@iisa @cdrini, Hey can we get an update about this issue ?

[2020-10-11 12:30] Yashs911 commented on #446
@cdrini can I open a PR for this issue as its already 8 days and there is no activity. and do I need to exclude BookReader/ and plugins/ both or only BookReader/ while creating a PR?

[2020-10-11 15:23] ArunTeltia commented on #301
Okay no reply from them so i am working on this
@cdrini do i have to create a new file for fliping or just create the new function insite the Mode2Up.js

[2020-10-11 20:00] ArunTeltia opened #497 "RightLeaf->pages showing unexpected behaviour in BookReaderDemo"
**Description**
when i am going through the RightLeaf in BookReaderDemo from left to right the pages get increases then decreases then increases but ideally this have to increase all the way to the right
Is this the development side only bug that i dont know about

**Evidence / Screenshot (if possible)**
![bookreader-demo-internetArchive](https://user-images.githubusercontent.com/43555219/95688699

[2020-10-12 17:34] ArunTeltia commented on #301
Hello @cdrini
I am approaching the refractor by this
[code]
Please tell me if this is the right approach I am going to
Or what can I do to make it look even better

[2020-10-12 23:22] ArunTeltia commented on #497
@iisa mam can you check this

[2020-10-13 16:09] DhairyaBahl commented on #460
@iisa if this issue is still available kindly assign it to me. Thanks :)

[2020-10-13 16:27] ArunTeltia commented on #385
can we close this issue ?

[2020-10-13 16:59] ArunTeltia commented on #273
Well in ubuntu to get the tts feature you need to install (SpeechD)SpeechDispatcher, I checked about this and the reason this was working on Chrome but not Firefox is that Firefox doesn't invoke speechSynthesis.onvoiceschanged

Here is the Thread
https://bugzilla.mozilla.org/show_bug.cgi?id=1003464
you can know more about

[2020-10-16 19:00] nikhilgupta2001 commented on #446
I have updated my repo to latest and made the required changes in eslintrc.js for linting . now should I directly add and commit please guide me @cdrini @iisa

[2020-10-18 08:11] ArunTeltia commented on #301
@cdrini @iisa can you please check I have refactored the code If you gave it a go I will send a pull request and start with the writing tests for this helper function
[code]

[2020-10-25 04:23] mekarpeles opened #505 "Failed search results text not rendering <br>"
**Description**

Failed search results text not rendering `<br>`

**Evidence / Screenshot (if possible)**

![archive org_details_whole_earth_review_75_page_n115_mode_1up_q=Mark+Carranza](https://user-images.githubusercontent.com/978325/97098855-1a9a4280-163f-11eb-9040-b4b73326c59b.png)

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

[2020-10-25 06:30] ArunTeltia commented on #505
Can I work on this issue?

[2020-10-26 07:29] himanshujaidka commented on #377
hey, @cdrini how to reach to table of content section?

[2020-10-26 07:38] himanshujaidka commented on #418
@iisa could you please elaborate it?

[2020-10-26 16:35] #505 closed

[2020-10-26 22:01] cdrini opened #507 "Text Speed selector has white text on white on Chrome"
**Description**

**Evidence / Screenshot (if possible)**

![image](https://user-images.githubusercontent.com/6251786/97233294-20b22f80-17b5-11eb-86d7-2cef269091f4.png)

**Expectation**

The text should be black inside the dropdown.

**Context**

Chrome 86 @ Win10

**Proposal & Constraints**

**Stakeholders**

@iisa

[2020-10-26 22:03] cdrini opened #508 "Back/forward SVG icons should have font-family: sans-serif"
The icons should have `font-family: sans-serif` set in their SVG files on the `<text>` elements.

**Evidence / Screenshot (if possible)**
![image](https://user-images.githubusercontent.com/6251786/97233557-87cfe400-17b5-11eb-8bcb-1e5772601be5.png)

**Context**

Tested on FF82 @ Win10

**Stakeholders**

[2020-10-26 22:12] cdrini opened #509 "TTS Forward button doesn't work on Chrome+Touchscreen"
The tooltips are getting in the way somehow. And clicking the tooltip, because they're contained in the button, cause the audio button to be clicked.

To reproduce:

1. Go to https://lucid-poitras-9a1249.netlify.app/bookreaderdemo/demo-internetarchive.html?ocaid=adventuresofoli00dick#page/n14/mode/1up
2. Click the listen button
3. try to press the forward button

- Expected: It goes forward
- Actu

[2020-10-27 05:43] participator commented on #507
PR #511 added to fix UI issue

[2020-10-27 05:50] participator commented on #509
How do you get the tooltips to appear?  I don't see them when using the live example links.

See live examples:

On details page: https://archive.org/details/birdbookillustra00reedrich
Full Screen: https://archive.org/stream/birdbookillustra00reedrich (mobile-friendly)

[2020-10-27 10:45] #497 closed

[2020-10-28 01:36] mkamranhamid commented on #508
Is it still available?

[2020-10-28 10:16] himanshujaidka commented on #509
yes @cdrini, it is not seen in the live examples?

[2020-10-28 10:17] himanshujaidka commented on #418
?

[2020-10-28 10:29] himanshujaidka opened #513 "login page is not working in apple safari"
It is showing undefined error

[2020-10-28 12:21] cdrini opened #514 "Table of contents has black text on black"
To reproduce:

1. Go to https://lucid-poitras-9a1249.netlify.app/bookreaderdemo/demo-internetarchive.html?ocaid=adventuresofoli00dick#page/n15/mode/1up
2. Resize window until hamburger icon appears
3. Open the table of contents

**Evidence / Screenshot (if possible)**
![image](https://user-images.githubusercontent.com/6251786/97435062-5579d000-18f6-11eb-9792-d599abeccfc3.png)

**Stakeholders**

@P

[2020-10-28 12:22] #508 closed

[2020-10-28 12:23] cdrini commented on #509
The tooltip might be invisible; but it still prevents clicking the forward button

[2020-10-28 12:27] #507 closed

[2020-10-28 12:32] cdrini commented on #509
Ohhhh, I see what you mean, they're fully missing on archive.org :( You should be able to see them here: https://lucid-poitras-9a1249.netlify.app/bookreaderdemo/demo-internetarchive.html?ocaid=adventuresofoli00dick#page/n14/mode/1up

[2020-10-28 13:09] xhalin01 commented on #514
Hello, I want to solve this issue.

[2020-10-28 13:22] ArunTeltia commented on #509
we can fix this issue by instead of showing the message above the button we can show that below the button what you think
Can I work on this

[2020-10-28 13:23] ArunTeltia commented on #514
@xhalin01 I am sorry about my pull request I did not see the message during my pull request I will close my issue

[2020-10-28 13:43] #514 closed

[2020-10-28 14:50] ArunTeltia opened #521 "JQuery -> Vanilla Javascript"
**Context**
The book reader is mainly working on jquery but jquery is being deprecated and we can do everything in vanilla javascript by dom manipulation, can we remove jquery from the book reader?

What are your views on this?
**Stakeholders**
@cdrini @iisa @shaneriley

PS: I would like to work on this :D

[2020-10-29 17:01] #521 closed

[2020-10-30 10:54] senthils-aukbc opened #529 "When using mobile phones, zoom buttons show up only in landscape mode"
I am developing a website at:

https://katha-jharna-hindi.netlify.app/

If I go to any of the story links in a cellphone, the zoom magnifying glass buttons at the bottom right don't show up when in portrait mode. They appear if the phone is changed to landscape mode.
It does not seems to be due to a lack of space. If I remove the toggles for one page and two page mode also the behavior persists.
I

[2020-10-31 08:06] AdityaKG-169 commented on #262
Hey! I would like to work on this issue.

[2020-11-04 15:52] iisa opened #551 "Pausing & Restarting read aloud should start at the page the user is on"
**Problem**

I borrowed this book: https://archive.org/details/ellaenchanted00levi_1/page/117/mode/2up
Started ReadAloud on one page,
then flipped to a later section of the book and hit Play again.
It continued reading from the first page.

**Expectation**

When a user pauses read aloud on one page, then flips to another page and restarts read aloud - read aloud should start at the new page.

**St

[2020-11-22 18:25] Chaitanya31612 commented on #460
@iisa Please review my pull request and guide for further changes. #559

[2020-12-01 10:45] Chaitanya31612 commented on #460
@iisa I've made pull request of requested changes. please review it and guide for any other change whatsoever is required.

[2020-12-07 23:44] #270 closed

[2020-12-21 01:46] mekarpeles opened #578 "Bookreader breaks when initialized by URL in "_autoReadAloud=show" mode"
## Description

Open Library offers both a 1st class Read/Borrow & Listen button options for initiating their reading experience in Bookreader.

A recent change to Bookreader has possibly introduced a regression which breaks the Bookreader's ability to start or stop audio when the `_autoReadAloud=show` GET query parameter is present.

## How to repro:

url https://archive.org/stream/crucialconvers

[2020-12-21 18:36] harshhx commented on #460
I would like to take this issue.

[2020-12-21 21:21] nathangibson opened #580 "Page turner progress bar should move leftward for RTL books"
**Description**

(With much appreciation to @Pyrojet99 , @iisa, and others I don't know of who have worked to make RTL reading a good experience! ... ) Although the arrow buttons, arrow keys, and page turning animation all match the reading direction for right-to-left books, the progress bar on the bottom does not. It moves _rightward_ as the reader progresses through the book _leftward_.

**Evide

[2020-12-22 02:40] nynaalekhya commented on #377
@cdrini
Hi,
@cdrini  I'm interseted in working on this issue. Can I take it up?

[2020-12-22 07:39] ishank-dev commented on #578
Hi, @mekarpeles
I did a small element inspection and looks like its a small CSS issue, when the `` _autoReadAloud=show `` in the query parameters is present, the class assigned to the BRcontrols is ``read-aloud`` with the ``block`` style, while when we click on read-aloud button i.e when the `` _autoReadAloud=show `` is not present then the class assigned to BR controls is ``read-aloud visible`` w

[2020-12-23 05:16] nynaalekhya commented on #453
@cdrini Hey, can I work on this issue?

[2020-12-28 16:10] cdrini opened #589 "Text Selection - ctrl+a does not select the first page"
**Description**

If I go here and press ctrl-a, I see no text (of the newspaper) being selected on the first page: https://archive.org/details/lastampa_1881-12-28/mode/2up - but it works on the other three pages. Just the first one doesn't work.And if I press ctrl-a on the last page, it also seems to show text from a phantom page. E.g. text is rendered on a blank, not existant page (on the right).

[2020-12-28 22:10] iisa commented on #578
released on archive.org

[2020-12-28 22:10] #578 closed

[2020-12-28 22:16] iisa commented on #513
hey @himanshujaidka im unsure what this issue means since we are not logging into bookreader to access it.  will close until we can get more context. thanks!

[2020-12-28 22:16] #513 closed

[2020-12-29 16:59] cdrini opened #591 "Testcafe E2E tests failing"
One of the E2E tests is failing! See e.g. https://github.com/internetarchive/bookreader/runs/1622579194?check_suite_focus=true

**Evidence / Screenshot (if possible)**

[code]

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

@iisa

[2021-01-03 15:41] VallariAg commented on #580
@iisa @cdrini @Pyrojet99  Can I work on this?

[2021-01-04 17:53] raghu0812199 commented on #551
i really want to work on this can you please guide me through the code files

[2021-01-07 23:00] #589 closed

[2021-01-09 15:05] hkumar0132 commented on #446
I would like to work on this issue if it's still open @cdrini

[2021-01-09 15:06] hkumar0132 commented on #460
I would like to work on this issue if it's still open @iisa
I have been doing web development in javascript for a year now and would like to enter the open source world.

[2021-01-19 19:22] mekarpeles opened #610 "Allow page rotation while reading books that may have horizontal content"
Originally opened by @shrey27tri01 on
https://github.com/internetarchive/openlibrary/issues/4428

For books that may have horizontal content (an example screenshot is attached), users should be able rotate the page to better view it. This may not be necessary for mobile/tablet or even laptop users, but it may be necessary for desktop users.

### Describe the problem that you'd like solved

A rotat

[2021-01-20 02:41] shrey27tri01 commented on #610
If possible, can I start working on this issue? Or is someone else on it?

[2021-01-22 10:17] Zaidtech commented on #580
Can i work on this issue?

[2021-01-26 07:39] shreyaswikriti commented on #591
can anybody help me how to get started. I can't find any suitable contribution guide here.help needed!!!!

[2021-01-26 11:23] SwapnilSoni1999 commented on #610
I would like to work on this issue. :)

[2021-01-28 19:06] Kunal-2001 commented on #487
Hey @iisa I am new to this project. If anyone is not assigned can i work on this issue ?

[2021-01-31 17:10] Yashs911 commented on #591
@cdrini https://github.com/DevExpress/testcafe/issues/1721#issuecomment-370283655 according to this we need to set the URL **before** setting the cookie or it will not work.
And according to comments on lines 89 and 93 we are setting the cookie before the URL so that might be the problem.
If this solution is correct I would like to create a PR for the same.

[2021-02-02 17:03] codewithsantosh commented on #460
Mam,Can i solve this issue

[2021-02-02 19:22] shreyan-invalid commented on #301
Hey, I would like to work on this issue. Please assign me to it.

[2021-02-02 19:24] shreyan-invalid commented on #267
Hey, I would like to work on this issue if its still open.

[2021-02-14 01:12] gumbol opened #632 "toolmenu obscure text"
**Description**

the position of the search and tools menu obscures the text even in full screen.

**Evidence / Screenshot (if possible)**

![sc](https://user-images.githubusercontent.com/50081893/107865710-8c123100-6e7a-11eb-9aa5-21c91cd00fbf.jpg)

**Expectation**

**Context**

ff 85

**Proposal & Constraints**

**Stakeholders**

[2021-02-14 05:27] kopal960 commented on #610
Is someone working on this issue ? If not I would like to work on it.

[2021-02-19 19:10] vishwjeet-singh commented on #632
Can i work on this issue?

[2021-03-03 09:50] vishwjeet-singh commented on #251
May I work on this issue?

[2021-03-03 09:57] vishwjeet-singh commented on #262
Mam, May I work on this issue?

[2021-03-03 10:02] vishwjeet-singh commented on #267
Mam, May I work on this issue?

[2021-03-03 10:03] vishwjeet-singh commented on #460
Mam, May I work on this issue?

[2021-03-09 21:42] Kunal-2001 opened #648 "One-page view last page number display"
**Description**

On One-page view the last page does not show correct page number

**Evidence / Screenshot (if possible)**

![Internet_Archive_Bug_1](https://user-images.githubusercontent.com/61347506/110541184-69a7c680-814d-11eb-96e5-5fe7e94732d5.png)

**Expectation**

For the above screenshot page number 5 should display

**Context**

Operating System: Ubuntu 20.04

**Proposal & Constraints**

[2021-03-11 06:23] tushargarg875 opened #650 "Adding support for reading aloud in multiple languages."
**Context**

**Proposal & Constraints**

It can then be fed to a text-to-speech API.

**Additional Resources**

**Success Metrics**

[2021-03-12 00:59] annsudhart opened #652 "GSoC 2021 Proposal - BookReader Accessibility and Mobile Improvements"
# An Online Reading Experience for All
## GSoC 2021 Proposal - BookReader Accessibility and Mobile Improvements

TLDR: Hello, my name is Andrea, a student at the University of California San Diego. I believe working on the accessibility of BookReader can be helpful for its users, and want to work on improving it for GSOC 2021. If there are other things on BookReader I am open to hear what other id

[2021-03-12 09:06] git-anurag-hub commented on #650
Working on this @tushargarg875 .

[2021-03-12 09:08] git-anurag-hub commented on #648
Working on this.

[2021-03-12 16:53] annsudhart commented on #610
Hi,

I managed to get the basic rotation functionality in. Is there a place to get the icon for rotating?

Thank you!

[2021-03-13 06:06] kaiwalyakoparkar opened #655 "GSOC Guidance"
Hello, I am Kaiwalya Koparkar, I have never contributed before to the internet archive. But, I really want to get involved in such an amazing community. I would like to do the contribution not just for GSOC but for a lifetime and make good books available to their desperate readers. I am front - end developer getting my hand dirty in the newest technology trends. I would like to enhance the UI/UX

[2021-03-13 07:08] raghu0812199 opened #656 "The page index of simple demo is showing wrong page index number"
**Description**

one can reproduce this by
1. simply run the bookreader locally and then go to http://localhost:8000/BookReaderDemo/demo-simple.html
2. Change the view to single page

**Evidence / Screenshot (if possible)**

![image](https://user-images.githubusercontent.com/72986044/111022367-59ffda80-83f8-11eb-86c7-477cbeb194fb.png)

**Expectation**

**Context**

 browser type and version- Googl

[2021-03-13 10:09] kaiwalyakoparkar commented on #487
Hi, @iisa I would like to work on this issue, Would you please guide me.

[2021-03-13 10:19] crew-guy commented on #655
Hey Kaiwalya,
It's great to hear your passion for open source. I'm glad you share the collaborative feeling.
Go through these links to start contributing.
[Open Source GitHub Tutorial](https://www.youtube.com/watch?v=3HqN-YS8eso)
[Orientation](https://github.com/internetarchive/openlibrary/blob/master/CONTRIBUTING.md)
[Local development environment](https://github.com/internetarchive/openlibrary/b

[2021-03-13 10:21] kaiwalyakoparkar commented on #655
Thank you @crew-guy, I would surely go through these links and start contributing as soon as possible. And if I face any issue I will get back to you.

[2021-03-13 10:32] Yashs911 commented on #487
Hi, @Kunal-2001 PR #488 already fixed this issue.

[2021-03-13 10:43] Adityakushwaha142 commented on #509
I can work on this issue

[2021-03-13 10:46] Adityakushwaha142 commented on #655
Heyy everybody !! My name is Aditya . I am a FullStack MERN Developer . I am Excited to contribute in internet archive . One thing i want to know is there any chat channel in internet archive organisation

[2021-03-13 13:33] Dinesh101041 commented on #656
I think it is duplicate of issue #648

[2021-03-13 14:02] #656 closed

[2021-03-13 14:04] raghu0812199 commented on #656
thank you @Dinesh101041 it was my mistake i didn't  check the other issue

[2021-03-14 11:40] Ankit27Agg opened #657 "GSOC 2021 - interaction with mentors"
Hi there,

My name is Ankit Aggarwal. I'm new here and i want to contribute to this project.
I am eager to find a new opportunity through gsoc to enhance my skills so that i can contribute more to such amazing open source projects.
I want the mentors to please guide me in this project like how to get started?

Thanks
Have a nice day😊.

[2021-03-14 11:45] Ankit27Agg commented on #267
Hi there,
I want to work on this issue.
As i'm new here can you tell me about E2E testing and more about this issue.

[2021-03-15 11:27] Priyaraj17 commented on #460
Is this issue open? I would like to work on it.

[2021-03-15 11:28] SwapnilSoni1999 opened #660 "npm script: serve-dev: ignore BookReader folder when running serve-dev"
While running development server. using `npm run serve-dev` it generates a folder in root project directory named `BookReader`

So whenever `git status` is executed in terminal while `serve-dev` is active or even ran once. It shows unnecessary files and folder to stage in git.

Expected: It should not show generated/compiled files in git stage
Solution: adding `./BookReader` in `.gitignore` might

[2021-03-15 11:33] SwapnilSoni1999 commented on #660
I've checked it still includes these files because of `.gitattributes`
I wonder why it is included.
Any explanation would be helpful. Thanks <3

[2021-03-15 17:11] pranavich18 commented on #418
I would like to work on this issue. Can you describe it a little more please?

[2021-03-15 19:06] mitchell-frost commented on #632
@gumbol We can have a close option for the search and tools like a collapsible navbar. I would like to work on this issue.

[2021-03-15 19:31] gumbol commented on #632
If you read the contributing guidlines why not

[2021-03-17 04:58] cdrini commented on #120
This was done by @Pyrojet99 a while ago.

[2021-03-17 04:58] #120 closed

[2021-03-17 13:58] mitchell-frost commented on #632
Sure, thanks!

[2021-03-18 04:22] PriyaBihani opened #665 "Buttons to change the page say Flip right/left even in the single view mode"
**Description**
Buttons to change the active page say Flip right/left even on the single view mode though there's no flipping in single view.  Tooltip for buttons should be renamed to next or previous for single view as there's no flipping. The tooltip should be dynamic and change according to the view being single page or double page.

**Evidence / Screenshot (if possible)**

<img width="1440" al

[2021-03-18 04:40] himanshujaidka opened #666 "No Scrollbar"
**Description**
While reading the book, the user is unable to scroll the screen or the scrollbar is missing.

**Evidence / Screenshot (if possible)**

![Screenshot (177)](https://user-images.githubusercontent.com/58654018/111574226-1d562980-87d2-11eb-9089-01bcffd75a92.png)

**Expectation**

There should be a scrollbar.

pls assign this to me, I would like to work on this issue.

[2021-03-18 05:16] shrey27tri01 commented on #610
I guess you can get free vector icons from [flaticon.com](https://www.flaticon.com/) (https://www.flaticon.com/free-icons/rotation)

[2021-03-18 19:32] anmolkohli13 commented on #251
Hi, @iisa I am a newbie to open source can you explain the issue a bit more about what do tests mean here?

[2021-03-19 01:17] crew-guy commented on #665
Hey ! May I please work on this issue ?

[2021-03-19 17:38] Priyaraj17 commented on #665
May I work on this issue?

[2021-03-19 17:43] Priyaraj17 commented on #648
Is this issue open? May I work on this?

[2021-03-19 22:49] cdrini opened #672 "AbstractTTSEngine unit test is flaky"
**Description**

This unit test is failing sporadically. Disabling for now to unblock.

**Evidence / Screenshot (if possible)**

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

[2021-03-20 06:30] git-anurag-hub commented on #648
@Priyaraj17 I was busy on some other issues. Working on this now. :)

[2021-03-20 18:39] Priyaraj17 opened #674 "Changing var to const or let."
I was thinking of changing the var declarations to either const or let as it is the modern-day ES6 syntax.

I would like to work on this.

[2021-03-21 05:25] Yashs911 commented on #487
@iisa I guess we can close this issue and I was wondering how can I connect with bookreader mentor for GSoC 2021. I tried mailing but the email address was not found.

[2021-03-21 14:19] SwapnilSoni1999 commented on #666
Can you tell the process to reproduce the issue?

[2021-03-21 14:33] CodeDotJS opened #675 "discussion regarding migration"
Just had this question whether there's any discussion related to the migration of Bookreader from jQuery to Plain JavaScript.

I'm not proposing anything rather clearing my doubt.

Thank You.

[2021-03-21 15:25] SwapnilSoni1999 commented on #610
I've started to work on this, but the issue is I cannot understand how to retain the changed orientation.
@iisa please put some light on this, would be much appreciated.

[2021-03-23 05:14] himanshujaidka commented on #666
To reproduce this, firstly you have to select any book of your choice then go to the reading mode or shown as above ss, then you will find that there is no scrollbar to scroll the book or to read the information below the player

[2021-03-25 11:50] SwapnilSoni1999 commented on #610
Hey can you help me out with the issue im facing, I've mentioned the issue in comments of my PR #676
Please check it out, if you can help, It'd be great. Thanks <3

[2021-03-26 17:43] SwapnilSoni1999 commented on #675
Can work on this but will take loads of time
I guess gsoc will be a good idea then i can devote my hours after this idea

[2021-03-26 17:50] SwapnilSoni1999 commented on #666
I dont get it its already fine you've opened theater mode (full screen mode) so scrollbar wont appear you have to exit that view

[2021-03-27 05:37] SwapnilSoni1999 commented on #657
Read their contributing guide and follow steps to setup env.
Once you get the project up and working. Start commiting and contribute to this project.

[2021-03-27 11:38] Dnouv commented on #529
@senthils-aukbc, thanks for opening this issue; it seems that this is the desired behavior since, in portrait mode, there is limited space as compared to landscape mode, so the zoom option does not show up.

[2021-03-27 12:16] SwapnilSoni1999 commented on #610
I've sent PR with completely working feature. Lets hope @iisa will approve and merge it. :clinking_glasses:

[2021-03-27 17:32] KaramveerSidhu commented on #267
@iisa @Pyrojet99 I would like to work on the issue. Can you please assign it to me?

[2021-03-28 19:42] shivambhatia5432 commented on #674
I would like to take up this issue

[2021-03-28 19:50] Priyaraj17 commented on #674
@shivambhatia5432 actually brother I am working on it. Can you take some other issue?

[2021-03-28 20:51] shivambhatia5432 commented on #674
No issues 😄

[2021-03-29 13:10] SwapnilSoni1999 opened #690 "[Dev] options.controls: make reactive controls"
**Context**
The controls should be reactive inorder to use and update in dom.

**Proposal & Constraints**

- In my opinion, this Repo should be refurbished and should be migrated to some reactive framework like Vue.js
- another opinion is to use RxJS to make components reactive and subscribed to other resources where the controls are used.
-

- Either use Vue.js and remake the whole library or imp

[2021-04-01 17:54] SwapnilSoni1999 commented on #446
Is this issue still open?

[2021-04-02 02:22] cdrini commented on #371
It looks like the issue on IA is because the search input is inside a web components. Run this in the console to reproduce:

[code]

[2021-04-03 11:43] SwapnilSoni1999 commented on #665
Working on this issue

[2021-04-10 10:00] crew-guy opened #703 "GSoC Proposal 2021."
**Respected Recipient,**

I am Ankit Sanghvi, a 19 year old **full stack developer** from India. I have been programming in this domain for over a year now and wish to contribute back to the community.  🚀

I have been an avid user of this amazing software and have really learnt a lot not only from the books I borrowed, but from your constant **relentlessness** to make education and information ava

[2021-04-12 10:11] mekarpeles commented on #703
Hi @crew-guy, thank you for your sincere message and for investing time to create a proposal and reach out. First and foremost, reading your message, I hope you recover to full health quickly and take the necessary time to feel better. I can tell how much you care and also how much you are contending with in order to make this work. We're reviewing your proposal and I am happy to discuss with you

[2021-04-12 10:18] crew-guy commented on #703
Wow !! I am legit smiling right now !! I can't explain how much this means  to me ! 😄

[2021-04-12 19:03] mekarpeles commented on #703
Resolved in https://github.com/internetarchive/iaux/issues/543

[2021-04-12 19:03] #703 closed

[2021-04-19 18:47] dependabot-preview[bot] opened #717 "Dependabot can't parse your package-lock.json"
Dependabot couldn't parse the package-lock.json found at `/package-lock.json`.

The error Dependabot encountered was:

[code]

[View the update logs](https://app.dependabot.com/accounts/internetarchive/update-logs/77173522).

[2021-04-19 19:21] #717 closed

[2021-05-03 15:03] cdrini opened #759 "Handle invalid JSON in search result responses"
The search endpoint can sometimes error and return invalid JSON. The search plugin should be resilient to this. Note that it _is_ making a JSONP request, so invalid JSON in this case would result in invalid JS, meaning jquery's callback won't be called, so it might not be possible to handle this, but it might be the case that the `onerror` event on the `<script>` is forwarded by jQuery? Some inves

[2021-05-14 16:18] iisa opened #771 "Bookmarks XHR should not be fetching unless user is signed in"
**Problem**
- with incognito window, go to: https://archive.org/details/goody
- open console -> you see a 401 return for bookmarks call
- spin up BookReader's demo server -> go to Internet Archive `http://127.0.0.1:8080/BookReaderDemo/demo-internetarchive.html?ocaid=theworksofplato01platiala`
- open console -> you see a 404 return for bookmarks call

**Expectation**

- if user is not signed in, do

[2021-05-14 16:20] iisa opened #772 "Upgrade web components to Lit 2.0"
Task:
- update lit element web components to 2.0

Acceptance:
- IA demo works, all side menu panels work.

[2021-05-14 21:46] sarthakkundra commented on #771
Hey @iisa Thanks for creating the issue. I'll take this up.

[2021-05-21 04:16] iisa opened #773 "BookReader: create CLI command that scaffolds new feature in BookNavigator"

[2021-05-22 18:41] prashant-smart commented on #772
@iisa I am a newbie can u elaborate more about this issue thankyou

[2021-05-22 19:48] prashant-smart commented on #262
@bfalling  can i work on this issue.
 thankyou

[2021-06-02 13:52] fenopa opened #788 "Search inside borrowed books"
Hi, full text search inside borrowed books doesn't seem to work properly ever.

Whenever I find a book while searching something and then borrow the book and try to find things I was looking by doing a search inside, it just stucks loading indefinitely, very frustrating.

[2021-06-02 17:46] iisa commented on #788
hi @fenopa , thanks for checking in.  let's get to the bottom of your issue.  please can you tell us:

- book you are reading & what you searched
- your computer operating system
- which browsers did you use?
- did you find the book during a search on archive.org?

[2021-06-03 10:43] fenopa commented on #788
Hi, thank you for response

- I feel like it's related to books having too many pages

Any search on this stucks loading indefinitely for example: https://archive.org/details/bowkerscompletev0001unse_u7e2
Try to search "Christmas" for example

This gives "Sorry, there was an error with your search. Please try again." error instantly with any search for example while others generally just stuck wit

[2021-06-03 15:35] iisa commented on #788
oh yes, I see what you're saying.  I have reproduced your error, and it looks like something is amiss with the service.  I will escalate up to the search team.  In the meantime, we _just_ added the ability for folks to cancel the search-in-progress.

did you see these cancel buttons (inside left panel, top right of on-book progress popup)?  you can use those to get out of a search-in-progress
<img

[2021-06-03 17:23] #648 closed

[2021-06-16 18:30] skorasaurus commented on #72
Since this issue was created a few years ago, several important accessibility issues remain:

- The clickable controls (located at the bottom) for a book should be able to also be done using only a keyboard. Currently, they are very limited. Only Zoom in/out and changing pages can be done through the keyboard.

For example, if a user does not have a mouse/trackpad or cannot use one, they cannot to

[2021-06-17 21:15] fenopa commented on #788
yeah sure, it's helpful but being able to make a search would be more helpful :)

Thank you for your care and forwarding it to the search team, hope it's not too hard to fix, did they say anything about it?

cheers

[2021-06-19 09:56] gumbol commented on #788
hello i have developed a [vanilla js code](https://github.com/gumbol/count-words) for counting the occurance of a word or phrase in a string. I am not sure what features the ia requires in the search function. but if this looks good to maintainers it could be extended easier than jquery code.

[2021-06-29 18:15] mheiman opened #805 "1up mode on small screens not setting correct zoom"
**Description**

I've only tested this on iOS, but opening any book in 1up mode zooms to full resolution rather than scaling to the screen size.

**Evidence / Screenshot (if possible)**

![Simulator Screen Shot - iPhone 11 Pro Max - 2021-06-29 at 13 10 29](https://user-images.githubusercontent.com/886889/123847047-b6b9cf00-d8db-11eb-9fd3-6dce69166216.png)

**Expectation**

Should scale the page to

[2021-06-29 20:00] cdrini commented on #805
@mheiman Could you provide a link to that book? Just in case it might be related to something specific about that, and other, records.

[2021-06-29 22:25] mheiman commented on #805
I just picked the first thing on the home page, which at that moment happened to be:

https://archive.org/details/jesuitsinnortham00park?ref=ol&view=theater

[2021-07-06 19:14] #371 closed

[2021-07-18 06:20] teresaejunior commented on #122
Seems fixed.

[2021-07-18 06:20] #122 closed

[2021-08-04 09:34] ishank-dev opened #823 "Improving page load experience for book readers"
**Context**
Page loading spinner can affects the overall book reading experience

**Proposal & Constraints**

I am not aware of the internal reason for page rendering being slow, but one thing that can certainly be fixed here is the loader icon which feels like as if it takes forever to load.

Instead of using a loading spinner, css based skeleton loaders can be added. Although the page load times

[2021-08-18 13:51] rohmatmret opened #827 "How to Custom Header for Authorization access image"
Hello I have issue for use Custom Header Fetch image, how to custom header for get image ..?

[code]

[2021-08-28 21:26] waldenn opened #831 "design request: move the "borrow banner" to optimize the vertical space available"
Hi,

I would like to propose the consideration of moving the **"borrow banner"** (as shown below) to some other position on the page (eg. onto the left sidebar) or at least being able to click the banner away.

![borrow banner screenshot](https://i.ibb.co/Kqd5LS8/borrow-banner.jpg)

The vertical screen space on most screens is often very precious and **the borrow banner reduces quite a lot of that

[2021-08-30 17:23] cdrini opened #842 "Add eslint-plugin-no-jquery to highlight/autofix deprecated jquery"
This plugin can auto-fix a number of deprecated jquery calls; helping open the path for us switching to jquery 3, or dropping jquery altogether.

See https://www.npmjs.com/package/eslint-plugin-no-jquery .

See this PR for how it was added to open library: https://github.com/internetarchive/openlibrary/pull/5201/files

[2021-08-31 05:52] soham4abc commented on #842
I am willing to work on this issue. If possible pls do assign.

[2021-09-01 14:36] #842 closed

[2021-09-01 17:02] cdrini opened #845 "Make eslint rule no-jquery/no-bind throw an error, and fix violators"
- [ ] Update eslintrc to make `no-jquery/no-bind` throw an error instead of a warning
- [ ] Fix all violators. Note this rule cannot be auto-fixed by `npx eslint --fix` :/ This will need to be done one-by-one. You can't do a find a replace because of the JS native bind function.

### Stakeholders
@soham4abc

[2021-09-20 14:29] JamieSlome opened #850 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-20 23:28] cdrini opened #851 "Investigate if we can require $ to be imported instead of global"
Currently, all .js files assume `$` to be globally available. It would be great if we could make that package only work with import.

Requirements:
- [ ] Any file that references `$` should also `import` it
- [ ] jQuery should _not_ be included in the BookReader bundle

[2021-09-21 22:28] #845 closed

[2021-09-22 23:20] waldenn opened #856 "autoplay not working for the "tabbed-audio-player""
**Description**

The "tabbed-audio-player" (the audio-player showing cover art, Spotify links, etc.) does not auto-play the audio, when the "autoplay=1" parameter is added to its URL.

Examples:
- https://archive.org/details/lp_cantata-no-117-cantata-no-93_johann-sebastian-bach-frankfurter-kantaten&autoplay=1
-  https://archive.org/details/lp_voices-of-the-night-songs-duets-and-ensemb_the-songmake

[2021-09-27 16:09] cdrini opened #857 "White screen while loading new image during zoom in Firefox"
**Description**

When loading a higher resolution image during zooming, firefox displays a big ol' white screen while the image loads in. Should instead display the new image over the old, lower res image. However the events we listen to, ie onloaded, fire at the wrong time, and the background is _white_ not transparent, so we can't have an image underneath. Maybe we can do something with blend mo

[2021-10-04 23:10] GeraAlcantara commented on #460
close the issue please if is resolve

[2021-11-01 08:19] Mister-Steak opened #881 "Click-and-drag no longer working in two-page view"
In "to borrow" books, the click-and-drag method of scrolling doesn't work, though it still works as before in Open Library books. It also still works in one-page view.

When holding down the mouse button and dragging, nothing happens at all. However, when dragging toward the very top or bottom of the display it'll scroll in that direction as if highlighting text, though no text appears to highligh

[2021-11-04 11:19] nathangibson commented on #580
Thank you @VallariAg (and @Zaidtech)! I'm hoping your fix goes into production and am looking forward to a better RTL experience :-)

[2021-11-24 00:01] duggiefresh commented on #446
I think this issue can be closed by https://github.com/internetarchive/bookreader/pull/789. Thanks!

[2021-11-24 02:51] #446 closed

[2021-11-24 05:53] duggiefresh commented on #108
I think this can be closed as there are issue templates - https://github.com/internetarchive/bookreader/tree/master/.github/ISSUE_TEMPLATE. Thanks

[2021-11-24 15:54] #108 closed

[2021-12-04 10:36] aidiss opened #895 "Using BookReader in React app, add documentation"
**Context**

I would like to be able to use Internet Archive Book Reader in React app. Maybe a documentation could be provided?

**Success Metrics**

A documentation entry, based on which it would be possible to run Simple book reader example in React application.

[2021-12-04 12:58] Mani7061338807 commented on #895
Hey, i would like to work on this issue. can you assign to me?
please guide how can i work on this.

[2021-12-14 01:04] cdrini opened #899 "Make eslint not complain about $.browser on this line"
We keep getting things like this in our PRs:

![image](https://user-images.githubusercontent.com/6251786/145913651-0292f9a4-0343-41aa-92e7-f615ca5f5556.png)

Let's add an eslint comment to this line to disable the `$.browser` rule. Note:
- We don't want to disable the `$.browser` rule globally!
- We don't want to disable all linting rules for this line! Just $.browser.

[2021-12-14 02:48] homewardgamer opened #901 "Pull request template dosen't seems to be working"
**Description**

I recently created a pull request and realised that the pull request template is not working maybe this is because it is stored inside a folder named `PULL_REQUEST_TEMPLATE`.

**Evidence / Screenshot (if possible)**

**Expectation**

**Context**

**Proposal & Constraints**

I would like to move the `pull_request_template.md` into the root path of `.github` folder.

**Stakeholders*

[2021-12-16 00:38] #899 closed

[2021-12-16 18:59] Subhraneel77 commented on #251
Hi, @iisa I am Completely new to Open Source , I would like to try to fix this issue..Can you kindly help me out a bit.

[2022-01-06 14:47] Ayush01729 commented on #823
Hello, I'm Ayush, a student at BITS Pilani, Goa, and a Web developer. I develop small to medium-scale web apps using the MERN stack. I have a decent knowledge of Python too and I would like to contribute to BookReader.

@shaneriley , could you please assign this issue to me??

[2022-01-12 02:14] khareyash05 commented on #881
Hi @cdrini I would like to work on this issue . Could you please help me set up the dev environment so that I can reproduce the same on my local machine

[2022-01-13 15:13] Krish-bhardwaj commented on #901
Hi i am a fresher looking for some opensource contribution can u assign me this issue and guide me how to solve it

[2022-01-20 07:01] aidiss commented on #895
@Mani7061338807 I am not sure how this could be implemented. I am looking for guidance.
Is here anyone that did the integration?

[2022-01-20 07:05] Mani7061338807 commented on #895
Can I go ahead??

[2022-01-24 18:06] cdrini opened #915 "ReadAloud no longer following highlighted region"
ReadAloud has become unusable for folks to read along with the TTS, because it no longer ensures the highlighted region is onscreen.

To Repro:

1. Go to https://archive.org/details/goodytwoshoes00newyiala/page/n9/mode/1up + zoom in
2. Start Read Aloud
3. scroll a little bit (within same page)
4. Press next key in read aloud toolbar

- Expected: page scrolls to ensure the new highlighted region is

[2022-02-02 20:20] stweil opened #929 "Wrong German voice for English book"
**Description**

From a recent discussion on https://internetarchive.slack.com/:

I [...] tried the BookReader with another one (https://archive.org/details/josephus0001jose_d9c3/page/189/mode/1up) [..] BookReader used German pronounciation for the English text. That sounds horrible. I was not able to understand anything.

BookReader uses a German voice for the English book above (now confirmed fo

[2022-02-07 10:49] AlanHK opened #932 "Impossible to use Bookreader with WinXP browsers"
**Description**
Until a week ago I was able to read books on archive,org. Very recently, if I open any book, the page loads then continually reloads about once a second, producing a strobe effect.

Can't do a screencap of a flashing screen....

This affects the last version of Firefox to run on XP: 52.9.
Also a fork of Firefox: MyPal 29.3.0, that was updated more recently (though not for a few mon

[2022-02-07 22:26] #932 closed

[2022-02-08 17:56] #915 closed

[2022-02-09 22:57] cdrini opened #937 "Replace vars with const/let in src/BookReader.js"
In working towards modernizing the BookReader JavaScript, we want to switch to using `const`/`let` (see [here](https://github.com/internetarchive/bookreader/wiki/JS-Modernization-Plan-Notes#uses-constlet-instead-of-var) for why).

Summary of Requirements:

* [ ] Remove the `BookReader.js` override in `.eslintrc.js` that allows `var`
* [ ] There are no occurrences of `var` in `src/BookReader.js`

[2022-02-09 22:57] cdrini commented on #674
Hi! The codebase already uses `const`/`let` ; I opened a new issue for the one file that needs it here: #937

[2022-02-09 22:57] #674 closed

[2022-02-09 23:16] cdrini opened #938 "Update to Node 16"
Node 16 is now LTS, and bookreader is behind other internetarchive packages! So let's update :)

To update, we will need to:
* [x] Change the github workflow files to use Node 16 (eg `.github/workflows/node.js.yml`)
* [x] Locally with Node 16 installed, run `npm install` to update the `package-lock.json` . Commit this.
* [ ] We believe there are some errors in some jest tests with Node 16, regardi

[2022-02-09 23:31] cdrini opened #939 "Update BookReader to use lit 2.0"
We’re currently using both lit 1 and lit 2, since some of our dependencies use lit 2. Let’s migrate to lit 2.0

Summary of requirements:

* [x] Update installed packages/imports (See https://lit.dev/docs/releases/upgrade/#update-packages-and-import-paths )
* [x] Load polyfill-support file (already done!)
* [x] Other breaking changes   https://lit.dev/docs/releases/upgrade/#adapt-to-minor-breaking-

[2022-02-10 00:03] cdrini opened #940 "Use async/await instead of .then where appropriate"
Find all occurrences of `.then` in the codebase (there are 9 matching files) and replace them with `async`/`await` where it makes sense to do so. Read the notes here about why this improves code quality:  https://github.com/internetarchive/bookreader/wiki/JS-Modernization-Plan-Notes#uses-asyncawait-instead-of-then-where-appropriate

Note for simple cases like `.then(r => r.json())` , do _not_ conv

[2022-02-10 01:46] kelp-chip commented on #938
Hello! It'll be my first time contributing but could I be assigned this issue?

[2022-02-10 01:55] cdrini commented on #938
Go for it, @kelp-chip ! Let us know if you hit any issues

[2022-02-10 01:57] kelp-chip commented on #938
Thank you, will do! :)

[2022-02-10 02:37] kelp-chip commented on #938
@cdrini, sorry already struggling on the first step. Never touched a .yaml file before, is it as simple as directly changing this 14.x to 16.x [on this line](https://github.com/internetarchive/bookreader/blob/master/.github/workflows/node.js.yml#L20)?

[2022-02-10 02:56] cdrini commented on #938
@kelp-chip Yep! That's exactly it. Good sleuthing I forgot about npm-publish.yml!

[2022-02-11 06:37] sancodes commented on #940
if no one is working on this, I'll help

[2022-02-11 06:43] sancodes commented on #937
I would like to help on this.Let me know if its still open

[2022-02-11 09:11] Aadilhassan commented on #937
I have created a pull request for that.

[2022-02-11 17:52] cdrini commented on #937
Thanks folks! Since you asked first, do you want to take a stab at it @sancodes ?

[2022-02-11 17:59] sancodes commented on #937
yes, @cdrini. I will be glad to take the assignment.

[2022-02-11 19:28] Aadilhassan commented on #939
I read all instructions given by lit to migrate to lit 2.0 very carefully, can you assign me for this issue.

[2022-02-11 21:20] sancodes commented on #937
Hello, @cdrini, I have completed the task, please take a look and aware me if I need to change or fix anything regarding this task.
Thanks.

[2022-02-11 22:29] sancodes commented on #937
Hello @cdrini can you help me understand the first task?
-  Remove the BookReader.js override in .eslintrc.js that allows var

when you say remove the BoookReader.js 'override' in .eslintrc.js, what do you mean by that?

[2022-02-11 22:33] cdrini commented on #937
Sure! So eslint is configured by this file: https://github.com/internetarchive/bookreader/blob/master/.eslintrc.js

In there we block all files from having `var` in them. If someone was to add `var` to one of our .js files, eslint would throw an error.

That rule applies to all files _except_ `src/BookReader.js` , because we haven't fixed that yet :)
This section disabled that eslint rule for this

[2022-02-11 22:41] cdrini opened #945 "Testcafe not running for all test files"
Since at least 5.0.0-24 (Nov 23, 2021), testcafe has not been running all our e2e tests 😭

Sample output:

[code]

I though this might be to a recent testcafe update, but I think it might be the result of https://github.com/internetarchive/bookreader/pull/870

[2022-02-11 22:49] sancodes commented on #937
@cdrini so at the moment, inside that 'overrides',

rules for 'no-var' is turned off, so that is why `src/BookReader.js` wouldnt complain, if someone were to add 'var'.

so, ideally it would make sense to just remove the 'overrides' block itself,
if not,
we can change inside the `overrides block`
[code]
to
[code]
is my understanding correct ?
then we run the `npx eslint --fix src/BookReader.js`
th

[2022-02-11 23:31] sancodes commented on #937
@cdrini, I have finished the task,  please let me know if everything is working fine.

[2022-02-11 23:38] #937 closed

[2022-02-11 23:44] cdrini commented on #940
Go for it @sancodes !

[2022-02-11 23:50] sancodes commented on #940
@cdrini Thank you, I will be glad to work on other tasks as well. I will get started on this task soon.

[2022-02-12 15:55] cdrini commented on #939
Awesome, thank you @Aadilhassan ! I'll take a look at your PR once I'm back on Monday :)

[2022-02-14 12:44] padv commented on #940
Hi!

I went ahead and did some of the refactoring #951, but I will stop since @sancodes will be handling the rest. he may use some of my code if he wants to. Cheers!

[2022-02-14 18:41] #945 closed

[2022-02-14 19:56] sancodes commented on #940
@cdrini not going to lie. Looking at the old code base is very frightening, given the limits I have in my coding experience. Especially, the promise chain, seems to be very complicated for me.
 I still tried my best,
Please help me make sure if the code is working correctly. I am willing to work on any bug, for the changes I have made.

[2022-02-14 23:07] cdrini commented on #940
No worries @padv ! Do you want to fix up the plugin.chapters.js file?

[2022-02-15 01:32] sancodes commented on #940
@cdrini I will try to continue, to add modifications to remaining issues.

[2022-02-15 02:16] cdrini commented on #938
Hi @kelp-chip ! How's it going? Anything I can help with?

[2022-02-16 09:21] Aadilhassan commented on #939
I have made some changes🚀 in my pull request according to the 📔instructions given by you.

[2022-02-16 19:02] Aadilhassan commented on #939
### Hello @cdrini
i need your help  i am getting some  ❌errors in `npm run test` in **build** [https://github.com/internetarchive/bookreader/runs/5221444498?check_suite_focus=true](https://github.com/internetarchive/bookreader/runs/5221444498?check_suite_focus=true)
can you help me with this.

[2022-02-16 20:35] cdrini commented on #938
I'm going to un-assign this to give someone else a go in case they're interested :)

[2022-02-17 20:07] sancodes commented on #940
@cdrini changes to 3 files, I have pushed for reviews. Please let me know, the mistakes, I have made, I'll correct it. Need heavy review on those files.

[2022-02-18 18:59] sancodes commented on #940
@cdrini did some changes on the remaining files, please help me review them. Thank you.

[2022-02-18 21:09] #939 closed

[2022-02-18 21:45] #938 closed

[2022-02-23 21:53] cdrini commented on #940
Awesome @sancodes ! I took another look around the codebase, and I think there are 4 places left that need updating :)

[2022-02-23 23:26] sancodes commented on #940
@cdrini will try to tackle the remaining promises refactor

[2022-02-24 18:31] sancodes commented on #940
@cdrini hello, can you help me take a look at my PR, and see if I need fix. Thank you.

[2022-02-24 23:51] #940 closed

[2022-02-24 23:51] cdrini commented on #940
Woohoo! Thanks for you perseverance, @sancodes !

[2022-02-25 00:03] sancodes commented on #940
@cdrini thank you. Please let me know if there's any task, I can tackle.

I'm willing to help.

[2022-03-09 17:23] renovate[bot] opened #975 "Dependency Dashboard"
This issue provides visibility into Renovate updates and their statuses. [Learn more](https://docs.renovatebot.com/key-concepts/dashboard/)

## Rate Limited

These updates are currently rate limited. Click on a checkbox below to force their creation now.

 - [ ] Pin dependencies (`@babel/eslint-parser`, `@babel/plugin-proposal-class-properties`, `@babel/plugin-proposal-decorators`, `@internetarchi

[2022-03-09 21:56] renovate[bot] opened #983 "Action Required: Fix Renovate Configuration"
There is an error with this repository's Renovate configuration that needs to be fixed. As a precaution, Renovate will stop PRs until it is resolved.

Location: `renovate.json`
Error type: Invalid JSON (parsing failed)
Message: `Syntax error near      ],
  `

[2022-03-09 21:59] #983 closed

[2022-03-10 10:25] bicolino34 opened #987 "Use Mozilla Common Voice dataset to improve sound quality and add support for more languages"
Currently, the amount of languages is too limited and voices are too robotic.
**Additional Resources**
https://commonvoice.mozilla.org/en/languages

[2022-03-10 17:36] cdrini commented on #987
Hi @bicolino34 ! What browser and Operating System are you using? The voices depend a _lot_ on those two factors. For example Chrome and Microsoft Edge have great voice support on Windows. But Firefox on Windows is limited to only system-level voices. There might be ways to add voices to your computer, depending on your Operating System.

[2022-03-11 11:12] bicolino34 commented on #987
@cdrini I'm using Chrome browser on Windows. So, it's possible to add own voices? How to do it?

[2022-03-12 01:46] cdrini commented on #987
These instructions are a little out-dated, but pretty close if you're using Windows 10: https://support.microsoft.com/en-us/topic/download-voices-for-immersive-reader-read-mode-and-read-aloud-4c83a8d8-7486-42f7-8e46-2b0fdf753130

Here's what the menu looks like for me:
![image](https://user-images.githubusercontent.com/6251786/157998731-f03fce85-22bc-4e9d-9345-e6107517d277.png) (note the little "T

[2022-03-12 08:20] #987 closed

[2022-03-29 17:08] mekarpeles opened #1009 "Read Aloud not working"
**Description**

https://archive.org/details/predictablyirrat00arie/page/n13/mode/2up

The bookreader API attempting to access the content of the checked-out book fails; e.g:

https://ia903208.us.archive.org/BookReader/BookReaderGetTextWrapper.php?callback=jQuery1124041526048937603255_1648572972164&path=%2F13%2Fitems%2Fpredictablyirrat00arie%2Fpredictablyirrat00arie_djvu.xml&page=14

**Evidence /

[2022-03-31 01:19] mcshicks opened #1010 "Save Visual Adjustments between sessions"
**Context**

Its an enhancement/annoyance.  I love the reader I use it a lot.  I tend to invert the colors and adjust the contrast.  I also borrow a lot of books for just an hour at a time.  Anyway when I borrow it remembers my bookmarks, but I have to redo the adjustments everytime.  It would be really cool if it remembered by adjustments on a book and opened back up the same way.  I also use sin

[2022-04-01 17:30] mekarpeles commented on #1009
Seems to be fixed for the borrow case but not admin

[2022-04-01 17:43] mekarpeles commented on #1009
Seems to be resolved!

[2022-04-25 22:10] cdrini commented on #788
The provided examples now work correctly! e.g  https://archive.org/details/bowkerscompletev0001unse_u7e2/mode/2up?q=Christmas

[2022-04-25 22:10] #788 closed

[2022-04-28 01:21] cdrini opened #1038 "Move karma unit tests to jest"
We want to go down to just one unit testing framework, and since ~75% of our tests are in jest, and jest's support for web components has greatly improved, jest it is!

- [x] @cdrini 1. #1033
    - Proof-of-concept and template for how these updates should work
- [x] @no382001 2. Update other test files:
    - [x] @cdrini tests/karma/BookNavigator/search/*
        - [x] #1033
    - [x] @no382001 t

[2022-04-28 15:44] cdrini commented on #1038
Oh, you'll need to make this change in your package.json in order for jest to run correctly: https://github.com/internetarchive/bookreader/pull/1033/files#diff-7ae45ad102eab3b6d7e7896acd08c427a9b25b346470d7bc6507b6481575d519 . That'll get rid of those odd "import" errors.

[2022-04-28 16:42] cdrini commented on #1038
#1033 is now merged, so you can also rebase on top of latest master and get the fix for free :+1:

[2022-04-29 16:20] cdrini commented on #1038
Howdy @sancodes , thank you ! Would you like to take on the volumes unit tests? It seems like @no382001 has made some good progress on the other tests :)

@no382001 would you like to own some of the other files? You can split them up into separate pull requests if that's easier.

[2022-04-29 16:24] sancodes commented on #1038
@cdrini oh totally, if @no382001 is tackling it, I'll wait for future, tasks.

[2022-04-29 16:35] cdrini commented on #1038
Ok, sounds good! I'll ping you on the next one :)

[2022-04-29 16:37] cdrini commented on #1038
@no382001 let us know if you'd like to be assigned, or if you have any questions!

[2022-04-29 20:10] no382001 commented on #1038
@cdrini sure, please assign me

[2022-05-11 19:17] #1038 closed

[2022-05-13 00:03] cdrini opened #1055 "Group ReadAloud languages by language"
Currently the voice options is very long and seemingly ordered at random:
![image](https://user-images.githubusercontent.com/6251786/168185120-df986371-8d3a-4a81-ae7e-aa885a49e2e0.png)

Use `<optgroup>` to display languages in the books language first and at the top. Then have another group for other languages, sorted by language code.

So for example the above would display:

![image](https://use

[2022-05-13 19:50] cdrini commented on #1055
@sancodes Would you be interested in tackling a more user-facing change? :)

[2022-05-13 19:51] sancodes commented on #1055
@cdrini yes I'm willing to. :)

[2022-05-13 19:53] cdrini commented on #1055
Awesome! This one might be a little trickier, so please let me know if you have any questions! You'll probably need to work somewhere around here: https://github.com/internetarchive/bookreader/blob/5c14e7de8567f739dcf0cc1e04c6c23a0c79272b/src/plugins/tts/plugin.tts.js#L161-L172

[2022-05-13 19:56] sancodes commented on #1055
@cdrini will do. Will get started on it soon.

[2022-05-13 20:01] cdrini commented on #1055
Note: Also `this.ttsEngine.bookLanguage` gives the book language (eg `en`)

[2022-05-19 23:26] cdrini commented on #1055
Hi @sancodes , anything I can help with? :)

[2022-05-19 23:50] sancodes commented on #1055
@cdrini thank you for checking in. I started taking look at the issue yesterday and my progress so far is minimal. Sorry for the delay. I was confused as to how to group languages together.

I have ideas, like maybe using ternary inside the map. (but dont really know how)
or,
I was gonna create a new array of nested object where one element would be languages would be languages with the string pre

[2022-05-19 23:59] cdrini commented on #1055
No worries, your second approach seems best! For the first run, let's assume the book is in `en` for now; we can generalize after we get the core code :)

You can do something like this:

[code]

These will be two arrays of voices, and then render each inside an optgroup. You will probably also want to make a helper function, `renderVoiceOption` that renders the `<option >` tag given a voice.

If

[2022-05-20 00:12] sancodes commented on #1055
@cdrini thank you for taking time to explain, it does help solidify my instincts and take away the fear.

Your explanation does help. I will try tackling with this approach and if stuck will reach out to you.

[2022-05-20 00:15] cdrini commented on #1055
Awesome, I'm happy to help!

[2022-05-23 17:26] #1055 closed

[2022-05-25 12:37] dbvisel commented on #805
This happens in iframes with phone-sized viewports as well.

[2022-06-09 13:12] DuncanDHall opened #1063 "Read aloud skips segments on Safari"
**Description**

On Safari, when a read aloud session is live and a user clicks the button to skip ahead ~10 seconds, the highlight bumps to the next segment, the reader starts reading it, then the highlight jumps ahead one more segment. This means that when skipping, the reader is no longer reading the highlighted section, but the one before.

When the reader gets to the end of its section, it st

[2022-07-19 04:39] AlanHK opened #1069 "No pages display in WinXP"
**Description**

Using WinXP browser MyPal 29.3.0
No pages display in the reader. all is black.
Tried several books, same result.

Was working until recently.

**Evidence / Screenshot (if possible)**

Screen attached, hopefully.

**Expectation**

can see pages.
**Context**

WinXP browser MyPal 29.3.0
**Proposal & Constraints**

**Stakeholders**

[2022-07-19 04:43] AlanHK commented on #1069
Attached screenshot did not show, See it here.
https://i.imgur.com/rPTo37J.png
Seems github does not support my browser either.

[2022-07-19 13:00] cdrini commented on #1069
Thank you for the report @AlanHK , I'm sorry you're not able to access books :( We had a big core JS change go out on archive.org on Friday. Our team is investigating.

[2022-07-20 03:55] AlanHK opened #1070 "typographic quotemarks and text search on iPad"
**Description**

With a book opened, on a windows browser you can search for a phrase using quotemarks ("word1 word2"); the typewriter straight marks on the keyboard. E.g search of "lives down" in this book:
https://archive.org/details/zuluheart00barn/page/n6/mode/2up?q="lives+down"
2 results.

On an iPad, using Chrome, type the same search and iPad automatically makes the quotemarks left and righ

[2022-07-20 21:56] cdrini commented on #1069
We pushed out a fix to archive.org . Is the book loading for you know?

[2022-07-28 05:20] AlanHK commented on #1069
Yes! Working again now for all books I tried. Thanks.

[2022-07-28 05:20] #1069 closed

[2022-07-30 17:08] mekarpeles opened #1071 "Audioreader - Advance pages (not just paragraphs)"
**Context**

Often when I'm listening to a book, it is during transit on mobile. I listen to several pages at a time. When I return to the book (especially if its been some time) the page is not always correct and so I listen to snippets to re-find my place (which is typically off by several pages).

My only options for navigation are to move forward / backward one paragraph at a time (which requi

[2022-08-04 17:48] cdrini opened #1074 "Text layer renders oddly for this book"
Some of this is just bad OCR, but we could do a better job handling things perhaps?

**Evidence / Screenshot (if possible)**

![image](https://user-images.githubusercontent.com/6251786/182915736-4d9c6562-6b8b-4f91-958e-57449f698364.png)

https://archive.org/details/bim_eighteenth-century_the-dutch-fortune-teller_booker-john-student-in_1750/page/n5/mode/2up

Note:

* The big blue box in the lower l

[2022-08-04 20:07] mekarpeles commented on #1071
During discussion,
lock icon to enable or disable "follow along". i.e. if we disable follow-along, then we can advance to the next page without the reader starting from that page.

Question:
- whether we are enabled, disabled by default.
- should this be a sticky/remembered mode?

[2022-08-04 20:32] cdrini opened #1075 "Add Jump forward a page, jump backward a page to read aloud toolbar"
**Description**

For users who only listen to the audio, it is annoying to only jump forward/back tiny distances. Add buttons for jumping forward/back more; 1 page.

**Evidence / Screenshot (if possible)**

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

[2022-08-04 20:43] cdrini opened #1076 "ReadAloud stops on Chrome Android when screen off"
**Description**

**Evidence / Screenshot (if possible)**

**Expectation**

**Context**

**Proposal & Constraints**

**Stakeholders**

@mekarpeles

[2022-08-31 20:47] cdrini commented on #1076
Hi, thanks @kushalShukla-web ! We don't have a solution for this one yet, so this will require investigation to try to determine what the options are (if any). Please let us know if you have any questions!

[2022-09-01 01:04] mekarpeles commented on #1076
@kushalShukla-web if you have a phone with chrome on it and can try some tests to identify why this may be happening and share your findings here, that would be awesome!

[2022-09-01 07:11] kushalShukla-web commented on #1076
Yeah

[2022-10-05 06:13] AlanHK opened #1096 "text search does not work in Bookreader with WinXP browsers"
Using "Search inside" I can get "3 results" but none of them are shown, either in their paragraphs below the result, or as page bookmarks
Using "MyPal" browser 29.3, a Mozilla derivative, on WinXP.
Last version released AFAIK.
See ![screen](https://i.imgur.com/3nrQupA.png)

[2022-10-24 09:17] cdrini commented on #772
Closed by #948

[2022-10-24 09:17] #772 closed

[2022-10-24 09:20] #292 closed

[2022-10-24 09:22] cdrini commented on #271
Closed by #694

[2022-10-24 09:22] #271 closed

[2022-10-24 09:23] cdrini commented on #269
Closed by #367

[2022-10-24 09:23] #269 closed

[2022-10-24 09:24] cdrini commented on #262
Closed by a few PRs

[2022-10-24 09:24] #262 closed

[2022-10-24 09:26] cdrini commented on #206
Closing since the header bar is no longer a part of the latest BR.

[2022-10-24 09:26] #206 closed

[2022-10-24 09:27] cdrini commented on #101
This is no longer an issue

[2022-10-24 09:27] #101 closed

[2022-10-24 09:29] cdrini commented on #63
The UIs are now consistent across desktop and mobile

[2022-10-24 09:29] #63 closed

[2022-10-24 09:30] cdrini commented on #169
Bookmarks have since been added to bookreader

[2022-10-24 09:30] #169 closed

[2022-10-24 09:33] cdrini commented on #32
This is the repo to add pull requests to... Quite the delay here 😅

[2022-10-24 09:33] #32 closed

[2022-10-24 09:43] cdrini commented on #856
Hey thanks @waldenn ! I'm going to close this here since this is an issue with the audio player, if I'm understanding correctly.

@iisa @traceypooh could you transfer this to the right repo if one exists?

[2022-10-24 09:43] #856 closed

[2022-10-24 09:47] cdrini commented on #657
Hi the normal proposal guidelines apply: https://google.github.io/gsocguides/student/writing-a-proposal . If there are any special things we're looking for for a specific gsoc, we'll comment !

[2022-10-24 09:47] #657 closed

[2022-10-24 09:49] cdrini commented on #655
Best path is to try to find good first issues. internetarchive/openlibrary has a big contributor base!

[2022-10-24 09:49] #655 closed

[2022-10-24 09:50] cdrini commented on #652
Hi, these are best submitted through the gsoc site. Thank you for your proposal!

[2022-10-24 09:50] #652 closed

[2022-10-24 09:51] cdrini commented on #591
This appears to go longer be an issue; testcafe is running normally

[2022-10-24 09:51] #591 closed

[2022-10-24 09:52] cdrini commented on #529
The zoom buttons have since been removed in favour of pinch zoom

[2022-10-24 09:52] #529 closed

[2022-10-24 09:54] cdrini commented on #487
Closed by #488

[2022-10-24 09:54] #487 closed

[2022-10-24 09:55] #385 closed

[2022-11-01 22:00] navigatrum opened #1103 "Some demos not working"
**Description**
I'm experiencing the same bug described here: https://stackoverflow.com/questions/71876803/how-to-get-the-demo-of-the-internet-archive-bookreader-working-in-2022

The problem seems related to `css`  `var`: `--br-height` not being defined, so that:
[code]
in [BookReaderDemo.css#L32-L36](https://github.com/internetarchive/bookreader/blob/master/BookReaderDemo/BookReaderDemo.css#L32-L